### Importing the Libraries

In [2]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library

import re #regular expessions

! pip install beautifulsoup4
! pip install requests
import requests #request online data
from bs4 import BeautifulSoup as bs # library for navigating html files

print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geographiclib-1.52         |     pyhd8ed1ab_0          35 KB  conda-forge
    geopy-2.2.0                |     pyhd8ed1ab_0          67 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         102 KB

The following NEW packages will be INSTALLED:

  geographiclib      conda-forge/noarch::geographiclib-1.52-pyhd8ed1ab_0
  geopy              conda-forge/noarch::geopy-2.2.0-pyhd8ed1ab_0



Downloading and Extracting Packages
geographiclib-1.52   | 35 KB     | ##################################### | 100%
geopy-2.2.0          | 67 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.1.0               |             py_1         614 KB  conda-forge
    attrs-21.2.0               |     pyhd8ed1ab_0          44 KB  conda-forge
    branca-0.4.2               |     pyhd8ed1ab_0          26 KB  conda-forge
    entrypoints-0.3            |  pyhd8ed1ab_1003           8 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    jsonschema-3.2.0           |     pyhd8ed1ab_3          45 KB  conda-forge
    pyrsistent-0.17.3          |   py36h8f6f2f9_2          89 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         900 KB

The following NEW packages will be INSTALLED:

  altair             conda-forge/noarch::altair-4.1.0-py_1
  attrs              conda-forge/noarch::attrs-21.2.0-pyhd8ed1ab_0
  branca             conda-forge/noarch::branca-0.4.2-pyhd8ed1ab_0
  entrypoints        conda-forge/noarch::entrypoints-0.3-pyhd8ed1ab_1003
  folium             conda-forge/noarch::folium-0.5.0-py_0
  jsonschema         conda-forge/noarch::jsonschema-3.2.0-pyhd8ed1ab_3
  pyrsistent         conda-forge/linux-64::pyrsistent-0.17.3-py36h8f6f2f9_2
  vincent            conda-forge/noarch::vincent-0.4.4-py_1



Downloading and Extracting Packages
pyrsistent-0.17.3    | 89 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
branca-0.4.2         | 26 KB     | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
attrs-21.2.0         | 44 KB     | ##################################### | 100%
jsonschema-3.2.0     | 45 KB     | ##################################### | 100%
entrypoints-0.3      | 8 KB      | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting beautifulsoup4
  Downloading https://files.pythonhosted.org/packages/69/bf/f0f194d3379d3f3347478bd267f754fc68c11cbf2fe302a6ab69447b1417/beautifulsoup4-4.10.0-py3-none-any.whl (97kB)
     |████████████████████████████████| 102kB 16.0MB/s ta 0:00:01
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading https://files.pythonhosted.org/packages/36/69/d82d04022f02733bf9a72bc3b96332d360c0c5307096d76f6bb7489f7e57/soupsieve-2.2.1-py3-none-any.whl
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.10.0 soupsieve-2.2.1
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (4.0.0)
Libraries imported.

### Combining for Clustering

In [6]:
table_one = pd.read_csv('atlanta_clustering_category.csv')
table_two = pd.read_csv('dallas_clustering_category.csv')
table_three = pd.read_csv('seattle_clustering_category.csv')
table_four = pd.read_csv('newyork_clustering_category.csv')

In [7]:
table_one = table_one.drop('Unnamed: 0', axis = 1)
print(len(table_one))
table_one.head()

134

,Venue_Distance,Category_ID,Category_Name,Venue_Rating
0,6,4bf58dd8d48988d174941735,Coworking Space,Not Rated
1,20,4bf58dd8d48988d1f1931735,General Entertainment,Not Rated
2,20,5032885091d4c4b30a586d66,Real Estate Office,Not Rated
3,23,4d954b06a243a5684965b473,Residential Building (Apartment / Condo),Not Rated
4,23,5032885091d4c4b30a586d66,Real Estate Office,Not Rated

In [8]:
table_two = table_two.drop('Unnamed: 0', axis = 1)
print(len(table_two))
table_two.head()

154

,Venue_Distance,Category_ID,Category_Name,Venue_Rating
0,6,4bf58dd8d48988d1f2931735,Performing Arts Venue,8.2
1,10,4bf58dd8d48988d1e7931735,Jazz Club,8.2
2,23,4bf58dd8d48988d1c1941735,Mexican Restaurant,8.0
3,46,4bf58dd8d48988d1e4931735,Bowling Alley,Not Rated
4,60,4bf58dd8d48988d1e4931735,Bowling Alley,Not Rated

In [9]:
table_three = table_three.drop('Unnamed: 0', axis = 1)
print(len(table_three))
table_three.head()

286

   Venue_Distance               Category_ID    Category_Name Venue_Rating
0               5  4bf58dd8d48988d1c9941735   Ice Cream Shop    Not Rated
1               5  4bf58dd8d48988d1de931735    Tattoo Parlor          7.7
2               7  55a59bace4b013909087cb2a  Udon Restaurant          7.7
3              13  4bf58dd8d48988d1df931735        BBQ Joint    Not Rated
4              16  4bf58dd8d48988d16c941735     Burger Joint    Not Rated

In [10]:
table_four = table_four.drop('Unnamed: 0', axis = 1)
print(len(table_four))
table_four.head()

755

   Venue_Distance               Category_ID Category_Name Venue_Rating
0               3  4bf58dd8d48988d124941735        Office    Not Rated
1               7  4bf58dd8d48988d124941735        Office    Not Rated
2              11  4bf58dd8d48988d105941735      Gym Pool    Not Rated
3              15  4bf58dd8d48988d176941735           Gym          7.6
4              24  4bf58dd8d48988d151941735    Taco Place    Not Rated

In [13]:
combined_table = table_one.append(table_two)
combined_table = combined_table.append(table_three)
combined_table = combined_table.append(table_four)
print(len(combined_table))
combined_table.head()

1329

,Venue_Distance,Category_ID,Category_Name,Venue_Rating
0,6,4bf58dd8d48988d174941735,Coworking Space,Not Rated
1,20,4bf58dd8d48988d1f1931735,General Entertainment,Not Rated
2,20,5032885091d4c4b30a586d66,Real Estate Office,Not Rated
3,23,4d954b06a243a5684965b473,Residential Building (Apartment / Condo),Not Rated
4,23,5032885091d4c4b30a586d66,Real Estate Office,Not Rated

In [14]:
combined_table = combined_table.sort_values(['Venue_Rating', 'Category_ID','Venue_Distance'], ascending = False)
combined_table.head()

     Venue_Distance               Category_ID       Category_Name Venue_Rating
159              11  5f2c2834b6d05514c704451e         Escape Room    Not Rated
40               20  5bae9231bedf3950379f89d4          Poke Place    Not Rated
718              49  58daa1558bbb0b01f18ec200      Cooking School    Not Rated
27               61  5744ccdfe4b0c0459246b4c7  Child Care Service    Not Rated
270              33  5744ccdfe4b0c0459246b4c4     Public Bathroom    Not Rated

In [16]:
combined_table= combined_table.set_index('Category_Name')

In [17]:
combined_table.head()

                    Venue_Distance               Category_ID Venue_Rating
Category_Name
Escape Room                     11  5f2c2834b6d05514c704451e    Not Rated
Poke Place                      20  5bae9231bedf3950379f89d4    Not Rated
Cooking School                  49  58daa1558bbb0b01f18ec200    Not Rated
Child Care Service              61  5744ccdfe4b0c0459246b4c7    Not Rated
Public Bathroom                 33  5744ccdfe4b0c0459246b4c4    Not Rated

In [18]:
combined_table.to_csv('combined_table.csv')

### Combining Cities

### grouping

In [53]:
combined_table = pd.read_csv('combined_table.csv')
print(len(combined_table))
combined_table.head()

1329

        Category_Name  Venue_Distance               Category_ID Venue_Rating
0         Escape Room              11  5f2c2834b6d05514c704451e    Not Rated
1          Poke Place              20  5bae9231bedf3950379f89d4    Not Rated
2      Cooking School              49  58daa1558bbb0b01f18ec200    Not Rated
3  Child Care Service              61  5744ccdfe4b0c0459246b4c7    Not Rated
4     Public Bathroom              33  5744ccdfe4b0c0459246b4c4    Not Rated

In [54]:
combined_table = combined_table.drop('Category_Name', axis = 1)
combined_table['Venue_Rating'].mask(combined_table['Venue_Rating']=='Not Rated', 0, inplace = True)
combined_table['Venue_Rating'] = combined_table['Venue_Rating'].astype('float')
combined_table.head()

   Venue_Distance               Category_ID  Venue_Rating
0              11  5f2c2834b6d05514c704451e           0.0
1              20  5bae9231bedf3950379f89d4           0.0
2              49  58daa1558bbb0b01f18ec200           0.0
3              61  5744ccdfe4b0c0459246b4c7           0.0
4              33  5744ccdfe4b0c0459246b4c4           0.0

In [56]:
vrvd_grouped = combined_table.groupby('Category_ID').mean()
vrvd_grouped.head()

                          Venue_Distance  Venue_Rating
Category_ID
4bf58dd8d48988d101941735      132.666667           0.0
4bf58dd8d48988d101951735       92.000000           0.0
4bf58dd8d48988d102941735       59.400000           0.0
4bf58dd8d48988d102951735       27.000000           0.0
4bf58dd8d48988d103951735      126.777778           0.6

In [17]:
ci_grouped = combined_table.groupby('Category_ID').count()
ci_grouped = ci_grouped.drop('Venue_Rating', axis = 1)
ci_grouped = ci_grouped.rename(columns ={'Venue_Distance':'Category_Count'})
print(ci_grouped.shape)
ci_grouped.head()

(309, 1)

                          Category_Count
Category_ID
4bf58dd8d48988d101941735               3
4bf58dd8d48988d101951735               2
4bf58dd8d48988d102941735               5
4bf58dd8d48988d102951735               1
4bf58dd8d48988d103951735               9

In [61]:
all_grouped = ci_grouped.join(vrvd_grouped)
print(all_grouped.shape)
all_grouped.head()

(309, 3)

                          Category_Count  Venue_Distance  Venue_Rating
Category_ID
4bf58dd8d48988d101941735               3      132.666667           0.0
4bf58dd8d48988d101951735               2       92.000000           0.0
4bf58dd8d48988d102941735               5       59.400000           0.0
4bf58dd8d48988d102951735               1       27.000000           0.0
4bf58dd8d48988d103951735               9      126.777778           0.6

In [64]:
all_grouped.sort_values('Category_Count')
#either need to drop Not Rated values or normalize total after making zeros

                          Category_Count  Venue_Distance  Venue_Rating
Category_ID
4bf58dd8d48988d1d6941735               1      482.000000      0.000000
4bf58dd8d48988d1f0931735               1     1195.000000      0.000000
4bf58dd8d48988d1f1941735               1      108.000000      7.700000
4bf58dd8d48988d1f4931735               1     1185.000000      0.000000
4bf58dd8d48988d1f5941735               1       35.000000      0.000000
4bf58dd8d48988d1f9941735               1       60.000000      0.000000
4bf58dd8d48988d1fa941735               1      179.000000      0.000000
4bf58dd8d48988d1fe941735               1       13.000000      0.000000
4c2cd86ed066bed06c3c5209               1      421.000000      0.000000
4d1cf8421a97d635ce361c31               1      227.000000      0.000000
4d4b7104d754a06370d81259               1       14.000000      0.000000
4d4b7105d754a06375d81259               1      719.000000      0.000000
4d4b7105d754a06377d81259               1      716.000000      0.000000
4d4b7105d754a06379d81259               1      146.000000      0.000000
4d954b16a243a5684b65b473               1       50.000000      0.000000
4e39a956bd410d7aed40cbc3               1      313.000000      0.000000
4e74f6cabd41c4836eac4c31               1       60.000000      0.000000
4eb1bd1c3b7b55596b4a748f               1      196.000000      0.000000
4eb1c1623b7b52c0e1adc2ec               1      286.000000      0.000000
4edd64a0c7ddd24ca188df1a               1     1619.000000      0.000000
4bf58dd8d48988d1ef941735               1        3.000000      0.000000
4bf58dd8d48988d1ed931735               1      936.000000      0.000000
4bf58dd8d48988d1e9931735               1       22.000000      0.000000
4bf58dd8d48988d1e8941735               1      539.000000      0.000000
4bf58dd8d48988d17c941735               1      136.000000      0.000000
4bf58dd8d48988d180941735               1        7.000000      0.000000
4bf58dd8d48988d18b941735               1      189.000000      0.000000
4bf58dd8d48988d190941735               1      118.000000      0.000000
4bf58dd8d48988d196941735               1        7.000000      0.000000
4bf58dd8d48988d198941735               1      146.000000      0.000000
4bf58dd8d48988d1a5941735               1       61.000000      0.000000
4bf58dd8d48988d1a7941735               1       21.000000      0.000000
4bf58dd8d48988d1ab941735               1      340.000000      0.000000
4f4531084b9074f6e4fb0101               1      239.000000      0.000000
4bf58dd8d48988d1bb941735               1        3.000000      0.000000
4bf58dd8d48988d1c0941735               1       22.000000      5.800000
4bf58dd8d48988d1c6941735               1      115.000000      0.000000
4bf58dd8d48988d1d1941735               1       19.000000      0.000000
4bf58dd8d48988d1d4941735               1      550.000000      0.000000
4bf58dd8d48988d1d5941735               1       12.000000      0.000000
4bf58dd8d48988d1dc931735               1       29.000000      7.900000
4bf58dd8d48988d1dd931735               1       35.000000      8.300000
4bf58dd8d48988d1e0941735               1        6.000000      0.000000
4bf58dd8d48988d1e7931735               1       10.000000      8.200000
4bf58dd8d48988d1be941735               1      179.000000      0.000000
4bf58dd8d48988d167941735               1      387.000000      0.000000
4f4531504b9074f6e4fb0102               1       34.000000      0.000000
4fbc1be21983fc883593e321               1        5.000000      0.000000
5370f356bcbc57f1066c94c2               1      188.000000      8.200000
5454144b498ec1f095bff2f2               1     1508.000000      0.000000
5454152e498ef71e2b9132c6               1       10.000000      0.000000
54541b70498ea6ccd0204bff               1      470.000000      0.000000
559acbe0498e472f1a53fa23               1       66.000000      7.400000
55a59bace4b013909087cb2a               1        7.000000      7.700000
56aa371ae4b08b9a8d5734ba               1       61.000000      5.400000
56aa371be4b08b9a8d5734c3               1       37.000000      9.000000
56aa371be4b08b9a8d5734c5               1      860.000000      8.300000
56aa371be4b08b9a8d5734db               1       86.000000      0.000000
56aa371be4b08b9a8d57350b               1       85.000000      0.000000
56aa371be4b08b9a8d573517               1      562.000000      0.000000
56aa371be4b08b9a8d573547               1       49.000000      0.000000
56aa371be4b08b9a8d57355c               1       78.000000      0.000000
56aa371be4b08b9a8d57355e               1      531.000000      0.000000
5744ccdfe4b0c0459246b4af               1      211.000000      0.000000
5744ccdfe4b0c0459246b4c4               1       33.000000      0.000000
5744ccdfe4b0c0459246b4c7               1       61.000000      0.000000
58daa1558bbb0b01f18ec200               1       49.000000      0.000000
52f2ab2ebcbc57f1066b8b55               1      639.000000      0.000000
52f2ab2ebcbc57f1066b8b4e               1     1076.000000      0.000000
52f2ab2ebcbc57f1066b8b4a               1     2169.000000      0.000000
52f2ab2ebcbc57f1066b8b45               1      213.000000      0.000000
5032792091d4c4b30a586d5c               1       89.000000      8.200000
5032891291d4c4b30a586d68               1     1251.000000      0.000000
5032897c91d4c4b30a586d69               1      474.000000      0.000000
50328a8e91d4c4b30a586d6c               1      501.000000      0.000000
507c8c4091d498d9fc8c67a9               1       17.000000      0.000000
50be8ee891d4fa8dcc7199a7               1       14.000000      0.000000
52af3a7c3cf9994f4e043bed               1      188.000000      0.000000
52af3b813cf9994f4e043c04               1       19.000000      7.700000
52e81612bcbc57f1066b79fc               1      100.000000      0.000000
4f4534884b9074f6e4fb0174               1       59.000000      0.000000
52e81612bcbc57f1066b7a11               1      968.000000      0.000000
52e81612bcbc57f1066b7a35               1      473.000000      0.000000
52e81612bcbc57f1066b7a3b               1      138.000000      0.000000
52f2ab2ebcbc57f1066b8b16               1       76.000000      0.000000
52f2ab2ebcbc57f1066b8b1c               1       32.000000      0.000000
52f2ab2ebcbc57f1066b8b1d               1     1270.000000      0.000000
52f2ab2ebcbc57f1066b8b30               1       32.000000      0.000000
52f2ab2ebcbc57f1066b8b36               1     2349.000000      0.000000
52f2ab2ebcbc57f1066b8b37               1       15.000000      0.000000
52f2ab2ebcbc57f1066b8b39               1       32.000000      0.000000
52e81612bcbc57f1066b7a34               1     1451.000000      0.000000
4bf58dd8d48988d15c941735               1      814.000000      0.000000
5f2c2834b6d05514c704451e               1       11.000000      0.000000
4bf58dd8d48988d109941735               1        8.000000      0.000000
4bf58dd8d48988d152941735               1        4.000000      0.000000
4bf58dd8d48988d111941735               1      100.000000      0.000000
4bf58dd8d48988d11d951735               1      819.000000      0.000000
4bf58dd8d48988d11a951735               1        3.000000      0.000000
4bf58dd8d48988d10d941735               1       32.000000      8.600000
4bf58dd8d48988d111951735               1       26.000000      0.000000
4bf58dd8d48988d10b951735               1       97.000000      0.000000
4bf58dd8d48988d141941735               1       41.000000      0.000000
4bf58dd8d48988d11a941735               1       26.000000      0.000000
4bf58dd8d48988d110941735               1      427.000000      0.000000
4bf58dd8d48988d11b941735               1      151.000000      5.800000
4bf58dd8d48988d157941735               1       40.000000      8.100000
4bf58dd8d48988d149941735               1       86.000000      8.200000
4bf58dd8d48988d119951735               1       77.000000      7.700000
4bf58dd8d48988d12d951735               1       52.000000      0.000000
4bf58dd8d48988d105951735               1       70.000000      0.000000
4bf58dd8d48988d105941735               1       11.000000      0.000000
4bf58dd8d48988d102951735               1       27.000000      0.000000
4bf58dd8d48988d117941735               1      107.000000      7.000000
4bf58dd8d48988d12f951735               1      171.000000      0.000000
4bf58dd8d48988d143941735               2      752.000000      3.250000
52af3b773cf9994f4e043c03               2       27.500000      0.000000
5bae9231bedf3950379f89d4               2       43.500000      3.550000
52e81612bcbc57f1066b79ed               2       54.000000      0.000000
4bf58dd8d48988d13b941735               2       69.000000      0.000000
4bf58dd8d48988d137941735               2        5.500000      7.400000
4bf58dd8d48988d15b941735               2       91.000000      3.900000
5032781d91d4c4b30a586d5b               2       20.500000      0.000000
503287a291d4c4b30a586d65               2       34.000000      0.000000
4bf58dd8d48988d11b951735               2      602.000000      0.000000
52e81612bcbc57f1066b7a05               2       18.500000      5.900000
4f4528bc4b90abdf24c9de85               2      417.500000      0.000000
4f04afc02fb6e1c99f3db0bc               2       43.000000      0.000000
4bf58dd8d48988d120951735               2       10.500000      0.000000
4bf58dd8d48988d1e6941735               2       18.000000      0.000000
4bf58dd8d48988d131941735               2      156.500000      0.000000
4bf58dd8d48988d121951735               2      289.500000      2.800000
4bf58dd8d48988d12f941735               2      298.000000      0.000000
4e52d2d203646f7c19daa8ae               2      573.000000      0.000000
4bf58dd8d48988d123951735               2       18.000000      0.000000
4bf58dd8d48988d124951735               2      306.500000      0.000000
4bf58dd8d48988d12b941735               2       95.500000      0.000000
5032885091d4c4b30a586d66               2       21.500000      0.000000
4bf58dd8d48988d1c3941735               2       32.000000      0.000000
4bf58dd8d48988d1f7941735               2      652.000000      0.000000
4bf58dd8d48988d10e941735               2        1.500000      5.400000
4bf58dd8d48988d166941735               2      165.000000      4.500000
4bf58dd8d48988d109951735               2       10.000000      0.000000
554a5e17498efabeda6cc559               2       65.500000      0.000000
5453de49498eade8af355881               2        6.000000      0.000000
4bf58dd8d48988d10d951735               2        8.000000      0.000000
56aa371be4b08b9a8d57352f               2     1900.000000      0.000000
4bf58dd8d48988d10f941735               2      269.500000      0.000000
4bf58dd8d48988d15f941735               2      448.500000      0.000000
4bf58dd8d48988d156941735               2       57.500000      4.600000
4bf58dd8d48988d155941735               2       57.000000      0.000000
52f2ab2ebcbc57f1066b8b42               2      314.500000      3.550000
4bf58dd8d48988d16c941735               2       44.500000      0.000000
4bf58dd8d48988d18f941735               2       87.500000      9.300000
52f2ab2ebcbc57f1066b8b3c               2       19.000000      0.000000
4bf58dd8d48988d197941735               2      110.000000      0.000000
52e81612bcbc57f1066b7a26               2     1203.500000      0.000000
4bf58dd8d48988d115951735               2       42.500000      0.000000
4bf58dd8d48988d101951735               2       92.000000      0.000000
4bf58dd8d48988d1bd941735               2      100.000000      4.000000
4bf58dd8d48988d14f941735               2       26.000000      0.000000
4bf58dd8d48988d108951735               2       23.500000      0.000000
4bf58dd8d48988d1ad941735               2      160.000000      0.000000
52e81612bcbc57f1066b7a39               2       34.000000      0.000000
52f2ab2ebcbc57f1066b8b28               2      247.500000      0.000000
52e81612bcbc57f1066b7a36               2     1124.500000      0.000000
4d4b7105d754a06378d81259               3       92.666667      0.000000
4c38df4de52ce0d596b336e1               3      366.333333      0.000000
4bf58dd8d48988d126951735               3      450.666667      2.200000
4bf58dd8d48988d123941735               3      377.333333      0.000000
4bf58dd8d48988d106951735               3       12.666667      0.000000
4bf58dd8d48988d107951735               3       36.333333      0.000000
4bf58dd8d48988d126941735               3      476.666667      0.000000
4bf58dd8d48988d127951735               3       49.666667      2.400000
4bf58dd8d48988d1fb931735               3      239.000000      0.000000
54541900498ea6ccd0202697               3       87.666667      2.466667
4f04b1572fb6e1c99f3db0bf               3      966.000000      0.000000
4f2a23984b9023bd5841ed2c               3      161.666667      0.000000
52e81612bcbc57f1066b7a25               3       92.333333      0.000000
4bf58dd8d48988d11d941735               3      545.666667      0.000000
52f2ab2ebcbc57f1066b8b46               3      121.666667      2.400000
52f2ab2ebcbc57f1066b8b33               3      225.000000      0.000000
4bf58dd8d48988d118941735               3       92.000000      2.600000
4bf58dd8d48988d117951735               3       25.333333      4.200000
52c71aaf3cf9994f4e043d17               3      248.000000      4.900000
52e81612bcbc57f1066b79f2               3       39.333333      0.000000
4eb1c0253b7b52c0e1adc2e9               3      285.666667      0.000000
4bf58dd8d48988d116951735               3     2204.666667      0.000000
4bf58dd8d48988d101941735               3      132.666667      0.000000
4bf58dd8d48988d178941735               3       33.000000      0.000000
4bf58dd8d48988d1cc941735               3       17.000000      2.933333
4bf58dd8d48988d179941735               3       39.333333      4.666667
4bf58dd8d48988d1e5941735               3      114.333333      0.000000
4bf58dd8d48988d1d3941735               3       47.333333      0.000000
4bf58dd8d48988d12c941735               3      351.000000      0.000000
4bf58dd8d48988d1f3941735               3      258.666667      0.000000
4bf58dd8d48988d1e4931735               3       61.333333      0.000000
4bf58dd8d48988d1e3941735               3       63.333333      0.000000
4bf58dd8d48988d1e2941735               3      100.333333      0.000000
4bf58dd8d48988d12d941735               3      322.000000      2.766667
4bf58dd8d48988d15e941735               3      225.666667      0.000000
4bf58dd8d48988d1de931735               3      131.333333      2.566667
4bf58dd8d48988d1df931735               3       28.666667      2.400000
4bf58dd8d48988d14c941735               3      226.000000      2.333333
4bf58dd8d48988d113941735               4      342.750000      5.575000
4bf58dd8d48988d1ed941735               4      177.500000      2.050000
4bf58dd8d48988d127941735               4       24.250000      0.000000
4bf58dd8d48988d1e7941735               4      203.500000      4.000000
4deefb944765f83613cdba6e               4      121.750000      2.050000
4bf58dd8d48988d1e5931735               4       92.250000      0.000000
4f2a210c4b9023bd5841ed28               4      230.250000      0.000000
4bf58dd8d48988d11f941735               4      468.500000      1.900000
4bf58dd8d48988d1c4941735               4      135.500000      2.050000
52f2ab2ebcbc57f1066b8b1f               4      547.750000      3.275000
4d954b0ea243a5684a65b473               4      152.000000      0.000000
4bf58dd8d48988d10b941735               4      167.250000      0.000000
4bf58dd8d48988d129951735               4      440.750000      1.425000
4bf58dd8d48988d104941735               4      441.250000      0.000000
4bf58dd8d48988d1fc931735               4      647.000000      0.000000
4bf58dd8d48988d161941735               4      641.000000      0.000000
4bf58dd8d48988d16d941735               4      105.250000      1.450000
4bf58dd8d48988d1fd941735               4      259.000000      3.525000
4bf58dd8d48988d172941735               4      170.250000      3.150000
50327c8591d4c4b30a586d5d               4      186.750000      5.900000
4d4ae6fc7a7b7dea34424761               4      347.500000      2.975000
4bf58dd8d48988d1f2941735               4      238.250000      0.000000
4bf58dd8d48988d1f2931735               4      103.000000      2.050000
4d954af4a243a5684765b473               4      341.000000      0.000000
4bf58dd8d48988d181941735               4       44.500000      5.125000
4bf58dd8d48988d1f6941735               5      184.000000      2.920000
4bf58dd8d48988d1df941735               5      261.200000      0.000000
4bf58dd8d48988d16e941735               5      137.000000      3.260000
4bf58dd8d48988d1c7941735               5       41.800000      2.280000
4bf58dd8d48988d1a8941735               5      195.400000      0.000000
4bf58dd8d48988d151941735               5      129.600000      1.500000
4bf58dd8d48988d13d941735               5      139.200000      0.000000
4bf58dd8d48988d102941735               5       59.400000      0.000000
4bf58dd8d48988d14a941735               5      171.600000      0.000000
4bf58dd8d48988d1f8941735               5      524.200000      0.000000
4bf58dd8d48988d1f4941735               5     1289.200000      0.000000
4e4c9077bd41f78e849722f9               5       86.000000      0.000000
4bf58dd8d48988d122951735               5       84.000000      0.000000
4f04aa0c2fb6e1c99f3db0b8               5      560.000000      0.000000
4bf58dd8d48988d1f6931735               5       12.400000      0.000000
4cce455aebf7b749d5e191f5               5     1004.200000      0.000000
4bf58dd8d48988d15a941735               5      205.400000      1.680000
4bf58dd8d48988d144941735               6       51.666667      0.000000
4bf58dd8d48988d16f941735               6      140.333333      0.000000
52e81612bcbc57f1066b7a0c               6      122.833333      2.350000
4bf58dd8d48988d1c5941735               6       99.666667      5.183333
4eb1bea83b7b6f98df247e06               6     2765.500000      0.000000
4bf58dd8d48988d10f951735               6       71.000000      1.966667
4bf58dd8d48988d10a951735               6      111.500000      1.900000
4bf58dd8d48988d121941735               6      842.166667      2.583333
4eb1d4d54b900d56c88a45fc               6      373.333333      0.000000
52dea92d3cf9994f4e043dbb               6      200.333333      2.283333
4bf58dd8d48988d11e941735               6       89.000000      4.066667
4bf58dd8d48988d1cb941735               7      119.285714      1.200000
4bf58dd8d48988d165941735               7       56.285714      1.100000
4bf58dd8d48988d1e1931735               7       62.714286      0.000000
4bf58dd8d48988d112951735               7      108.142857      1.942857
4bf58dd8d48988d159941735               7       97.000000      3.671429
4bf58dd8d48988d164941735               7      212.000000      1.128571
4bf58dd8d48988d114951735               7       34.571429      1.328571
4bf58dd8d48988d175941735               7      165.857143      1.814286
4bf58dd8d48988d112941735               7      181.000000      3.271429
4f4533804b9074f6e4fb0105               7      282.142857      0.000000
4bf58dd8d48988d10c951735               7       72.285714      1.157143
4bf58dd8d48988d104951735               8       58.500000      1.887500
4bf58dd8d48988d118951735               8      117.500000      3.225000
4bf58dd8d48988d1fa931735               8      319.500000      0.000000
4bf58dd8d48988d176941735               9      313.888889      1.644444
4bf58dd8d48988d1ff941735               9      150.000000      0.000000
4bf58dd8d48988d1ce941735               9       66.222222      2.444444
4bf58dd8d48988d1f1931735               9      200.222222      0.677778
4bf58dd8d48988d148941735               9      360.111111      1.544444
4bf58dd8d48988d103951735               9      126.777778      0.600000
4bf58dd8d48988d1c9941735               9       93.000000      0.800000
4bf58dd8d48988d1d0941735               9       13.666667      2.377778
4bf58dd8d48988d186941735              10      349.600000      0.640000