# Surrounding Venues for Each Arcade

__Skip to the Good Stuff__

[Importing Libraries](#Importing-Libraries)

[Loading Arcade DataFrame](#Loading-Arcade-DataFrame)

[Connecting to FourSquare](#Connecting-to-FourSquare)

[Making Surrounding Venues DataFrame](#Making-Surrounding-Venues-DataFrame)

[Dropping the Nulls](#Dropping-the-Nulls)

[Sorting by Arcade and Distance](#Sorting-by-Arcade-and-Distance)

[Ensuring Unique Venues](#Ensuring-Unique-Venues)

[Pulling the Ratings](#Pulling-the-Ratings)

### Importing Libraries

In [2]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 

! pip install folium==0.5.0
import folium # plotting library

import json

pd.set_option('display.max_rows', None) #To view the full dataframe

print('Folium installed')
print('Libraries imported.')

Requirement already satisfied: geopy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geopy) (1.52)
Requirement already satisfied: folium==0.5.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.5.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (2.25.1)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (1.15.0)
Requirement already satisfied: branca in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (0.4.2)
Requirement already satisfied: jinja2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (3.0.1)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from jinja2->folium==0.5.0) (2.0.1)
Folium installed
Libraries imported.

### Loading Arcade DataFrame

In [2]:
seattle_arcades = pd.read_csv('Arcade_final_clean.csv')
seattle_arcades = seattle_arcades.drop('Unnamed: 0', axis = 1)
print(len(seattle_arcades))
seattle_arcades

15

,Hood,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name,Venue_Rating
0,University District,4af30888f964a520f5e921e3,4518 Arcade,59,4518 University Way NE,47.661836,-122.313121,4bf58dd8d48988d124941735,Office,Not Rated
1,Lower Queen Anne,4d03d2b6c2e537042963b467,Penny Arcade Warehouse,473,3150 Elliott Ave,47.618242,-122.357470,4bf58dd8d48988d1e1931735,Arcade,Not Rated
2,Highland Park,4dbf6f1e6a23e5a549d6141b,SanTe's Arcade,752,No Address,47.524985,-122.361241,4bf58dd8d48988d1e1931735,Arcade,Not Rated
3,Pioneer Square,4e53fe8522711d4da5c38798,Grand Central Building - Lower Arcade,186,No Address,47.600463,-122.333970,5744ccdfe4b0c0459246b4dc,Shopping Plaza,Not Rated
4,Fremont,4ee59ef76c25be9631860f8d,Add-a-Ball Arcade,399,315 N 36th St #2B,47.652040,-122.354771,4bf58dd8d48988d1e1931735,Arcade,8.8
5,Pioneer Square,4fb7f757e4b09a1e8cab118e,Time masheen arcade,252,No Address,47.601545,-122.330684,4bf58dd8d48988d1e1931735,Arcade,Not Rated
6,Lower Queen Anne,4fdd404be4b082d0767d2155,Seattle Interactive Media Museum,387,No Address,47.621242,-122.350853,4bf58dd8d48988d1e1931735,Arcade,Not Rated
7,Renton Hill,4ff503b1e4b02ca33b4b731f,Rod's Pinball Arcade,829,9818 Beacon Ave S,47.512992,-122.272850,4bf58dd8d48988d1e1931735,Arcade,Not Rated
8,Lower Queen Anne,5064c506e4b06062642548ae,Next 50 Video Arcade,390,Seattle Center,47.621220,-122.350827,4bf58dd8d48988d1e1931735,Arcade,Not Rated
9,Harrison,50fa31bae4b020b5559a65cc,Lipton's Arcade,373,No Address,47.618770,-122.326777,4bf58dd8d48988d11a941735,Other Nightlife,Not Rated
10,Capitol Hill,55aaf9fa498e95351b9da504,Capitol Hill Family Arcade,393,No Address,47.623172,-122.313218,4bf58dd8d48988d1e1931735,Arcade,Not Rated
11,Olympic Hills,578cabc2498e2cf4c49feb3d,ShopsArcade,1598,15218 12th Ave NE,47.739429,-122.315063,4bf58dd8d48988d1f6941735,Department Store,Not Rated
12,Broadway,597be97e58aa7f16eb83d768,Portal Virtual Reality Arcade,469,2601 NW Market St,47.668388,-122.390533,4bf58dd8d48988d1e1931735,Arcade,Not Rated
13,Central Waterfront,59af34d64a7aae7ed5080133,Klondike Arcade,97,No Address,47.606257,-122.340676,4bf58dd8d48988d1e1931735,Arcade,Not Rated
14,West Woodland,5a6a65f642d8c2036ccf8098,Ice Box,1476,615 NW Bright St,47.659821,-122.364749,4bf58dd8d48988d1e1931735,Arcade,Not Rated

### Connecting to FourSquare

In [3]:
CLIENT_ID = '4TJ1SLTDO1KADL553GXCDXOJXZONZYTBIRQMVBQ32JYAU3EA' # your Foursquare ID
CLIENT_SECRET = 'TC1N45PW5LSGVLIZ02DDPA2JOMWB2I3BA33OPX55VW2LBKBF' # your Foursquare Secret
ACCESS_TOKEN = 'NS3WWURVAWWAGWSTUXQDQCS0150IPNQIYNHVE5JM1OSX2CAV' # your FourSquare Access Token

In [4]:
VERSION = '20180604'
LIMIT = 20

### Making Surrounding Venues DataFrame

In [5]:
#assign variables for the search
search_query = ''
radius = 50
print(search_query + ' .... OK!')

 .... OK!

In [6]:
surrounding_venues = pd.DataFrame(columns = ['Arcade','Venue_ID','Venue_Name','Venue_Distance','Venue_Address','Venue_Latitude','Venue_Longitude','Category_ID','Category_Name'])
surrounding_venues

Empty DataFrame
Columns: [Arcade, Venue_ID, Venue_Name, Venue_Distance, Venue_Address, Venue_Latitude, Venue_Longitude, Category_ID, Category_Name]
Index: []

In [7]:
for index, arcade in enumerate(seattle_arcades['Venue_ID']):
    try:
        arcade_name = seattle_arcades['Venue_Name'][index]
        latitude = seattle_arcades['Venue_Latitude'][index]
        longitude = seattle_arcades['Venue_Longitude'][index]
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, search_query, radius, LIMIT)
        results = requests.get(url).json()
    except:
        continue
    try:
        res = results['response']['venues']
    except:
        print('No response')
    for dictionary in results['response']['venues']:
        try:
            ident= dictionary['id']
        except:
            ident= 'No ID'
        try:
            name = dictionary['name']
        except:
            name = 'No Name'
        try:
            ven_add = dictionary['location']['address']
        except:
            ven_add = 'No Address'
        try:
            ven_lat = dictionary['location']['lat']
        except:
            ven_lat = 'No Latitude'
        try:
            ven_lng = dictionary['location']['lng']
        except:
            ven_lng = 'No Longitude'
        try:
            ven_dist = dictionary['location']['distance']
        except:
            ven_dist = 'No Distance'
        try:
            for cat in dictionary['categories']:
                try:
                    cat_id= cat['id']
                except:
                    cat_id= 'No ID'
                try:
                    cat_name = cat['name']
                except:
                    cat_name = 'No Name'
        except:
            continue
        try:
            surrounding_venues = surrounding_venues.append({'Venue_Distance':ven_dist,'Arcade':arcade_name, 'Venue_ID':ident, 'Venue_Name':name,'Venue_Address':ven_add,'Venue_Latitude':ven_lat,'Venue_Longitude':ven_lng,'Category_ID':cat_id,'Category_Name':cat_name}, ignore_index=True)
        except:
            surrounding_venues = surrounding_venues.append({'Arcade': 'Null'}, ignore_index=True)

In [8]:
print(len(surrounding_venues))
surrounding_venues.head()

300

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
0,4518 Arcade,4ef5323b77c8e9126478ff6f,U:DON Fresh Japanese Noodle Station,7,4515 University Way NE,47.661795,-122.313194,55a59bace4b013909087cb2a,Udon Restaurant
1,4518 Arcade,4ae4f7d0f964a520c59f21e3,Urban Outfitters,45,4518 University Way Northeast,47.661430,-122.313030,4bf58dd8d48988d103951735,Clothing Store
2,4518 Arcade,59c14ab61ffed75cd77ec327,Chi Mac,25,4525 University Way NE,47.662044,-122.313256,4bf58dd8d48988d113941735,Korean Restaurant
3,4518 Arcade,5abb2319b040560b822d9633,Taste of Xi'an,21,4523 University Way NE,47.661957,-122.313337,4bf58dd8d48988d145941735,Chinese Restaurant
4,4518 Arcade,5f0e45adc5d2fb4660d1b12e,Don't Yell At Me 不要對我尖叫,21,4511 University Way NE,47.661674,-122.313270,52e81612bcbc57f1066b7a0c,Bubble Tea Shop

In [9]:
surrounding_venues.to_csv('surrounding_raw.csv')

### Dropping the Nulls

In [24]:
surrounding_venues = pd.read_csv('surrounding_raw.csv')
surrounding_venues = surrounding_venues.drop('Unnamed: 0', axis= 1)
print(len(surrounding_venues))
surrounding_venues.head()

300

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
0,4518 Arcade,4ef5323b77c8e9126478ff6f,U:DON Fresh Japanese Noodle Station,7,4515 University Way NE,47.661795,-122.313194,55a59bace4b013909087cb2a,Udon Restaurant
1,4518 Arcade,4ae4f7d0f964a520c59f21e3,Urban Outfitters,45,4518 University Way Northeast,47.661430,-122.313030,4bf58dd8d48988d103951735,Clothing Store
2,4518 Arcade,59c14ab61ffed75cd77ec327,Chi Mac,25,4525 University Way NE,47.662044,-122.313256,4bf58dd8d48988d113941735,Korean Restaurant
3,4518 Arcade,5abb2319b040560b822d9633,Taste of Xi'an,21,4523 University Way NE,47.661957,-122.313337,4bf58dd8d48988d145941735,Chinese Restaurant
4,4518 Arcade,5f0e45adc5d2fb4660d1b12e,Don't Yell At Me 不要對我尖叫,21,4511 University Way NE,47.661674,-122.313270,52e81612bcbc57f1066b7a0c,Bubble Tea Shop

In [25]:
surrounding_venues = surrounding_venues[surrounding_venues != 'Null']
surrounding_venues = surrounding_venues[surrounding_venues != '[]']
surrounding_venues = surrounding_venues.dropna()
print(len(surrounding_venues))
surrounding_venues = surrounding_venues.reset_index()
surrounding_venues = surrounding_venues.drop(['index'], axis = 1)
surrounding_venues.head(20)

300

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
0,4518 Arcade,4ef5323b77c8e9126478ff6f,U:DON Fresh Japanese Noodle Station,7,4515 University Way NE,47.661795,-122.313194,55a59bace4b013909087cb2a,Udon Restaurant
1,4518 Arcade,4ae4f7d0f964a520c59f21e3,Urban Outfitters,45,4518 University Way Northeast,47.661430,-122.313030,4bf58dd8d48988d103951735,Clothing Store
2,4518 Arcade,59c14ab61ffed75cd77ec327,Chi Mac,25,4525 University Way NE,47.662044,-122.313256,4bf58dd8d48988d113941735,Korean Restaurant
3,4518 Arcade,5abb2319b040560b822d9633,Taste of Xi'an,21,4523 University Way NE,47.661957,-122.313337,4bf58dd8d48988d145941735,Chinese Restaurant
4,4518 Arcade,5f0e45adc5d2fb4660d1b12e,Don't Yell At Me 不要對我尖叫,21,4511 University Way NE,47.661674,-122.313270,52e81612bcbc57f1066b7a0c,Bubble Tea Shop
5,4518 Arcade,5e23b504daee0b0008f60baa,Sugar+Spoon Cookie Dough,5,No Address,47.661790,-122.313146,4bf58dd8d48988d1c9941735,Ice Cream Shop
6,4518 Arcade,4b58fe5ff964a5205e7728e3,Deep Roots Tattoo & Body Piercing,5,4517 University Way NE,47.661806,-122.313184,4bf58dd8d48988d1de931735,Tattoo Parlor
7,4518 Arcade,4c37a5ae93db0f47db2f2092,Metro Bus Stop #9584,21,University Way NE & NE 45th St,47.662020,-122.313196,4bf58dd8d48988d1fe931735,Bus Station
8,4518 Arcade,5a5f9be231ac6c6dbfc68220,Just Burgers,16,4510 University Way NE,47.661861,-122.312910,4bf58dd8d48988d16c941735,Burger Joint
9,4518 Arcade,5d3cad7742d74c0008eb3ea9,DL B.B.Q.,13,4520 the ave,47.661947,-122.313203,4bf58dd8d48988d1df931735,BBQ Joint
10,4518 Arcade,4b91db9ff964a520f9db33e3,Pita Pit,30,4515 University Way NE,47.661819,-122.313530,4bf58dd8d48988d1c5941735,Sandwich Place
11,4518 Arcade,4a41a1bff964a5207ca51fe3,BBQ Chicken,29,4525 University Way NE,47.662083,-122.313257,4bf58dd8d48988d113941735,Korean Restaurant
12,4518 Arcade,5d479b19816c15000897f14c,Buerjia Chinese Sauerkraut Fish,31,4509 University Way NE,47.661655,-122.313447,4bf58dd8d48988d145941735,Chinese Restaurant
13,4518 Arcade,479e03e7f964a520724d1fe3,Oasis Tea Zone,27,4524 University Way NE,47.662049,-122.312937,52e81612bcbc57f1066b7a0c,Bubble Tea Shop
14,4518 Arcade,435c2400f964a5200a291fe3,Yunnie Bubble Tea,22,4511 University Way NE,47.661647,-122.313221,52e81612bcbc57f1066b7a0c,Bubble Tea Shop
15,4518 Arcade,5da7ddc48b13530008a70888,Panda Noodle Bar,29,No Address,47.661604,-122.312937,52af3b773cf9994f4e043c03,Szechuan Restaurant
16,4518 Arcade,5c413d90916bc1002cc73e9c,Texas Bar B Q,47,No Address,47.662208,-122.312819,4bf58dd8d48988d1df931735,BBQ Joint
17,4518 Arcade,4f08ad56e4b0aa2dc6a036b9,Tea Republik,29,4527 University Way NE,47.662077,-122.313292,4bf58dd8d48988d1dc931735,Tea Room
18,4518 Arcade,5c538e626bdee6002cdb65b8,LE Mart,28,4514 University Way NE,47.661706,-122.312796,4bf58dd8d48988d10c951735,Cosmetics Shop
19,4518 Arcade,43c7931bf964a520832d1fe3,Thai Tom,86,4543 University Way NE,47.662605,-122.313312,4bf58dd8d48988d149941735,Thai Restaurant

In [26]:
count = -1
distance_drop_list = list()
for dist in surrounding_venues['Venue_Distance']:
    count = count + 1
    if dist == 0:
        distance_drop_list.append(count)
print(len(distance_drop_list))

14

In [27]:
surrounding_venues = surrounding_venues.drop(index = distance_drop_list)
print(len(surrounding_venues))
surrounding_venues.head()

286

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
0,4518 Arcade,4ef5323b77c8e9126478ff6f,U:DON Fresh Japanese Noodle Station,7,4515 University Way NE,47.661795,-122.313194,55a59bace4b013909087cb2a,Udon Restaurant
1,4518 Arcade,4ae4f7d0f964a520c59f21e3,Urban Outfitters,45,4518 University Way Northeast,47.661430,-122.313030,4bf58dd8d48988d103951735,Clothing Store
2,4518 Arcade,59c14ab61ffed75cd77ec327,Chi Mac,25,4525 University Way NE,47.662044,-122.313256,4bf58dd8d48988d113941735,Korean Restaurant
3,4518 Arcade,5abb2319b040560b822d9633,Taste of Xi'an,21,4523 University Way NE,47.661957,-122.313337,4bf58dd8d48988d145941735,Chinese Restaurant
4,4518 Arcade,5f0e45adc5d2fb4660d1b12e,Don't Yell At Me 不要對我尖叫,21,4511 University Way NE,47.661674,-122.313270,52e81612bcbc57f1066b7a0c,Bubble Tea Shop

### Sorting by Arcade and Venue Distance

In [28]:
surrounding_venues = surrounding_venues.sort_values(['Arcade', 'Venue_Distance'],ascending = True)
surrounding_venues.head(10)

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
5,4518 Arcade,5e23b504daee0b0008f60baa,Sugar+Spoon Cookie Dough,5,No Address,47.661790,-122.313146,4bf58dd8d48988d1c9941735,Ice Cream Shop
6,4518 Arcade,4b58fe5ff964a5205e7728e3,Deep Roots Tattoo & Body Piercing,5,4517 University Way NE,47.661806,-122.313184,4bf58dd8d48988d1de931735,Tattoo Parlor
0,4518 Arcade,4ef5323b77c8e9126478ff6f,U:DON Fresh Japanese Noodle Station,7,4515 University Way NE,47.661795,-122.313194,55a59bace4b013909087cb2a,Udon Restaurant
9,4518 Arcade,5d3cad7742d74c0008eb3ea9,DL B.B.Q.,13,4520 the ave,47.661947,-122.313203,4bf58dd8d48988d1df931735,BBQ Joint
8,4518 Arcade,5a5f9be231ac6c6dbfc68220,Just Burgers,16,4510 University Way NE,47.661861,-122.312910,4bf58dd8d48988d16c941735,Burger Joint
3,4518 Arcade,5abb2319b040560b822d9633,Taste of Xi'an,21,4523 University Way NE,47.661957,-122.313337,4bf58dd8d48988d145941735,Chinese Restaurant
4,4518 Arcade,5f0e45adc5d2fb4660d1b12e,Don't Yell At Me 不要對我尖叫,21,4511 University Way NE,47.661674,-122.313270,52e81612bcbc57f1066b7a0c,Bubble Tea Shop
7,4518 Arcade,4c37a5ae93db0f47db2f2092,Metro Bus Stop #9584,21,University Way NE & NE 45th St,47.662020,-122.313196,4bf58dd8d48988d1fe931735,Bus Station
14,4518 Arcade,435c2400f964a5200a291fe3,Yunnie Bubble Tea,22,4511 University Way NE,47.661647,-122.313221,52e81612bcbc57f1066b7a0c,Bubble Tea Shop
2,4518 Arcade,59c14ab61ffed75cd77ec327,Chi Mac,25,4525 University Way NE,47.662044,-122.313256,4bf58dd8d48988d113941735,Korean Restaurant

In [29]:
surrounding_venues.to_csv('surrounding_venues_sorted.csv')

### Ensuring Unique Venues

In [30]:
surrounding_sorted = pd.read_csv('surrounding_venues_sorted.csv')
surrounding_sorted = surrounding_sorted.drop('Unnamed: 0', axis= 1)
print(len(surrounding_sorted))
surrounding_sorted.head(20)

286

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
0,4518 Arcade,5e23b504daee0b0008f60baa,Sugar+Spoon Cookie Dough,5,No Address,47.661790,-122.313146,4bf58dd8d48988d1c9941735,Ice Cream Shop
1,4518 Arcade,4b58fe5ff964a5205e7728e3,Deep Roots Tattoo & Body Piercing,5,4517 University Way NE,47.661806,-122.313184,4bf58dd8d48988d1de931735,Tattoo Parlor
2,4518 Arcade,4ef5323b77c8e9126478ff6f,U:DON Fresh Japanese Noodle Station,7,4515 University Way NE,47.661795,-122.313194,55a59bace4b013909087cb2a,Udon Restaurant
3,4518 Arcade,5d3cad7742d74c0008eb3ea9,DL B.B.Q.,13,4520 the ave,47.661947,-122.313203,4bf58dd8d48988d1df931735,BBQ Joint
4,4518 Arcade,5a5f9be231ac6c6dbfc68220,Just Burgers,16,4510 University Way NE,47.661861,-122.312910,4bf58dd8d48988d16c941735,Burger Joint
5,4518 Arcade,5abb2319b040560b822d9633,Taste of Xi'an,21,4523 University Way NE,47.661957,-122.313337,4bf58dd8d48988d145941735,Chinese Restaurant
6,4518 Arcade,5f0e45adc5d2fb4660d1b12e,Don't Yell At Me 不要對我尖叫,21,4511 University Way NE,47.661674,-122.313270,52e81612bcbc57f1066b7a0c,Bubble Tea Shop
7,4518 Arcade,4c37a5ae93db0f47db2f2092,Metro Bus Stop #9584,21,University Way NE & NE 45th St,47.662020,-122.313196,4bf58dd8d48988d1fe931735,Bus Station
8,4518 Arcade,435c2400f964a5200a291fe3,Yunnie Bubble Tea,22,4511 University Way NE,47.661647,-122.313221,52e81612bcbc57f1066b7a0c,Bubble Tea Shop
9,4518 Arcade,59c14ab61ffed75cd77ec327,Chi Mac,25,4525 University Way NE,47.662044,-122.313256,4bf58dd8d48988d113941735,Korean Restaurant
10,4518 Arcade,479e03e7f964a520724d1fe3,Oasis Tea Zone,27,4524 University Way NE,47.662049,-122.312937,52e81612bcbc57f1066b7a0c,Bubble Tea Shop
11,4518 Arcade,5c538e626bdee6002cdb65b8,LE Mart,28,4514 University Way NE,47.661706,-122.312796,4bf58dd8d48988d10c951735,Cosmetics Shop
12,4518 Arcade,4a41a1bff964a5207ca51fe3,BBQ Chicken,29,4525 University Way NE,47.662083,-122.313257,4bf58dd8d48988d113941735,Korean Restaurant
13,4518 Arcade,5da7ddc48b13530008a70888,Panda Noodle Bar,29,No Address,47.661604,-122.312937,52af3b773cf9994f4e043c03,Szechuan Restaurant
14,4518 Arcade,4f08ad56e4b0aa2dc6a036b9,Tea Republik,29,4527 University Way NE,47.662077,-122.313292,4bf58dd8d48988d1dc931735,Tea Room
15,4518 Arcade,4b91db9ff964a520f9db33e3,Pita Pit,30,4515 University Way NE,47.661819,-122.313530,4bf58dd8d48988d1c5941735,Sandwich Place
16,4518 Arcade,5d479b19816c15000897f14c,Buerjia Chinese Sauerkraut Fish,31,4509 University Way NE,47.661655,-122.313447,4bf58dd8d48988d145941735,Chinese Restaurant
17,4518 Arcade,4ae4f7d0f964a520c59f21e3,Urban Outfitters,45,4518 University Way Northeast,47.661430,-122.313030,4bf58dd8d48988d103951735,Clothing Store
18,4518 Arcade,5c413d90916bc1002cc73e9c,Texas Bar B Q,47,No Address,47.662208,-122.312819,4bf58dd8d48988d1df931735,BBQ Joint
19,4518 Arcade,43c7931bf964a520832d1fe3,Thai Tom,86,4543 University Way NE,47.662605,-122.313312,4bf58dd8d48988d149941735,Thai Restaurant

### Pulling the Ratings

In [33]:
count = -1
rating_list = list()
for ident in surrounding_sorted['Venue_ID']:
    count = count +1
    venue_id = surrounding_sorted['Venue_ID'][count]
    url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&oauth_token={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET,ACCESS_TOKEN, VERSION)
    result = requests.get(url).json()
    try:
        rating = result['response']['venue']['rating']
    except:
        rating = 'Not Rated'
    rating_list.append(rating)
rating_list

['Not Rated',
 7.7,
 7.7,
 'Not Rated',
 'Not Rated',
 7.8,
 'Not Rated',
 'Not Rated',
 6.3,
 7.7,
 7.8,
 'Not Rated',
 5.5,
 'Not Rated',
 7.9,
 7.0,
 'Not Rated',
 5.4,
 'Not Rated',
 8.2,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 8.4,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 6.2,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 9.1,
 'Not Rated',
 7.0,
 'Not Rated',
 7.9,
 8.5,
 7.0,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 7.7,
 6.7,
 'Not Rated',
 7.9,
 7.1,
 8.9,
 8.3,
 'Not Rated',
 8.4,
 9.3,
 'Not Rated',
 'Not Rated',
 5.4,
 7.6,
 8.4,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 7.2,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 5.8,
 7.8,
 8.6,
 'Not Rated',
 'Not Rated',
 8.6,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 7.8,
 6.9,
 6.4,
 8.2,
 7.5,
 'Not Rated',
 7.2,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 7.6,
 'Not Rated',
 'Not Rated',
 7.3,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 8.0,
 9.0,
 6.4,
 'Not Rated',
 8.0,
 5.7,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 6.1,
 8.2,
 8.6,
 8.4,
 7.9,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 8.9,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 8.4,
 9.2,
 'Not Rated',
 7.9,
 7.5,
 5.4,
 6.3,
 6.1,
 5.2,
 7.4,
 'Not Rated',
 6.2,
 'Not Rated',
 8.4,
 7.2,
 6.9,
 7.0,
 'Not Rated',
 'Not Rated',
 7.5,
 5.9,
 6.5,
 5.7,
 9.3,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 6.8,
 'Not Rated',
 6.4,
 9.0,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 6.6,
 'Not Rated',
 'Not Rated',
 8.3,
 'Not Rated',
 'Not Rated',
 8.2,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 8.4,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 7.2,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 6.2,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 5.6,
 'Not Rated',
 7.6,
 'Not Rated',
 6.0,
 'Not Rated',
 'Not Rated',
 5.3,
 'Not Rated',
 'Not Rated',
 7.0,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 6.5,
 6.3,
 5.4,
 6.1,
 'Not Rated',
 7.2,
 'Not Rated',
 6.2,
 7.0,
 8.4,
 6.9,
 7.4,
 'Not Rated',
 'Not Rated',
 7.5,
 5.9,
 5.7,
 6.5,
 7.2,
 9.3,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 7.6,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 6.3,
 'Not Rated',
 'Not Rated',
 6.6,
 8.3,
 7.6,
 'Not Rated',
 'Not Rated',
 6.1,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 8.4,
 7.7,
 8.4,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 9.0,
 'Not Rated',
 'Not Rated']

In [34]:
surrounding_final = surrounding_sorted.assign(Venue_Rating= rating_list)
surrounding_final.head()

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name,Venue_Rating
0,4518 Arcade,5e23b504daee0b0008f60baa,Sugar+Spoon Cookie Dough,5,No Address,47.661790,-122.313146,4bf58dd8d48988d1c9941735,Ice Cream Shop,Not Rated
1,4518 Arcade,4b58fe5ff964a5205e7728e3,Deep Roots Tattoo & Body Piercing,5,4517 University Way NE,47.661806,-122.313184,4bf58dd8d48988d1de931735,Tattoo Parlor,7.7
2,4518 Arcade,4ef5323b77c8e9126478ff6f,U:DON Fresh Japanese Noodle Station,7,4515 University Way NE,47.661795,-122.313194,55a59bace4b013909087cb2a,Udon Restaurant,7.7
3,4518 Arcade,5d3cad7742d74c0008eb3ea9,DL B.B.Q.,13,4520 the ave,47.661947,-122.313203,4bf58dd8d48988d1df931735,BBQ Joint,Not Rated
4,4518 Arcade,5a5f9be231ac6c6dbfc68220,Just Burgers,16,4510 University Way NE,47.661861,-122.312910,4bf58dd8d48988d16c941735,Burger Joint,Not Rated

In [35]:
counts = dict()
for category in surrounding_final['Category_Name']:
    counts[category]= counts.get(category, 0) + 1

In [36]:
counts

{'Ice Cream Shop': 2,
 'Tattoo Parlor': 1,
 'Udon Restaurant': 1,
 'BBQ Joint': 3,
 'Burger Joint': 1,
 'Chinese Restaurant': 3,
 'Bubble Tea Shop': 3,
 'Bus Station': 3,
 'Korean Restaurant': 3,
 'Cosmetics Shop': 2,
 'Szechuan Restaurant': 1,
 'Tea Room': 1,
 'Sandwich Place': 4,
 'Clothing Store': 3,
 'Thai Restaurant': 1,
 'Tech Startup': 5,
 'Music Store': 1,
 'Bar': 4,
 'Food Truck': 1,
 'Smoke Shop': 1,
 'Office': 8,
 'Bus Line': 3,
 'Event Space': 3,
 'Art Gallery': 5,
 'Bus Stop': 3,
 'Factory': 1,
 'Trail': 3,
 'Beer Garden': 1,
 'Park': 7,
 'Marijuana Dispensary': 3,
 'Post Office': 3,
 'School': 1,
 'Mexican Restaurant': 3,
 'Shoe Repair': 1,
 'Coffee Shop': 8,
 'Salon / Barbershop': 5,
 'Seafood Restaurant': 4,
 'Gift Shop': 3,
 'Lounge': 1,
 'Bookstore': 5,
 'Pharmacy': 1,
 'Cocktail Bar': 2,
 'Conference Room': 2,
 'Arts & Crafts Store': 1,
 'Dive Bar': 2,
 'General Entertainment': 2,
 'Building': 6,
 'Mental Health Office': 1,
 'Rock Club': 1,
 'Mediterranean Restaurant': 1,
 'German Restaurant': 1,
 'Vietnamese Restaurant': 1,
 'Animal Shelter': 1,
 'Funeral Home': 1,
 'Brewery': 2,
 'Pizza Place': 4,
 'Concert Hall': 1,
 'Taco Place': 2,
 'Gastropub': 1,
 'Veterinarian': 4,
 'Acupuncturist': 1,
 'Miscellaneous Shop': 1,
 'College Academic Building': 1,
 'Nightclub': 1,
 'Storage Facility': 1,
 'Bike Rental / Bike Share': 1,
 "Doctor's Office": 2,
 'Sporting Goods Shop': 2,
 'Moving Target': 1,
 'Waterfront': 1,
 'Dessert Shop': 6,
 'Sculpture Garden': 2,
 'Bakery': 1,
 'Boat or Ferry': 1,
 'Outdoor Sculpture': 1,
 'Pier': 1,
 'Theme Park Ride / Attraction': 2,
 'Plaza': 2,
 'Well': 1,
 'Scenic Lookout': 3,
 'Residential Building (Apartment / Condo)': 5,
 'Pedestrian Plaza': 2,
 'Sorority House': 1,
 'Performing Arts Venue': 1,
 'Café': 1,
 'Vape Store': 1,
 'Malay Restaurant': 1,
 'Boutique': 1,
 'Greek Restaurant': 2,
 'Candy Store': 2,
 'Museum': 3,
 'American Restaurant': 3,
 'Theater': 2,
 'Hot Dog Joint': 2,
 'Bagel Shop': 2,
 'Food Court': 2,
 'English Restaurant': 2,
 'Snack Place': 2,
 'Art Museum': 2,
 'Rental Car Location': 1,
 'Eastern European Restaurant': 1,
 'Yoga Studio': 1,
 'Photography Studio': 1,
 'Business Service': 1,
 'Event Service': 1,
 'Escape Room': 1,
 'Spiritual Center': 1,
 'Deli / Bodega': 1,
 'Print Shop': 1,
 'Gas Station': 3,
 'Design Studio': 1,
 'Thrift / Vintage Store': 1,
 'Garden Center': 1,
 'Hardware Store': 1,
 'Bike Shop': 1,
 'Scandinavian Restaurant': 1,
 'Spa': 2,
 'Garden': 2,
 'Church': 4,
 'Light Rail Station': 3,
 'Fire Station': 1,
 'Bridge': 1,
 'Toy / Game Store': 1,
 'Laundry Service': 3,
 'Airport': 1,
 'Liquor Store': 1,
 'Fried Chicken Joint': 1,
 'Housing Development': 1,
 'Government Building': 1,
 'Paper / Office Supplies Store': 1,
 'Medical Center': 1,
 'Department Store': 1,
 'Gym / Fitness Center': 1,
 'Pet Service': 1,
 'Wings Joint': 1,
 'Automotive Shop': 1,
 'Baseball Field': 1,
 'Soccer Field': 1,
 'Gym': 1,
 'Speakeasy': 1,
 'Shopping Mall': 1,
 'Arcade': 1,
 'Tennis Court': 1,
 'Skate Park': 1,
 'Playground': 1,
 'Club House': 1,
 'Indian Restaurant': 1,
 'Video Store': 2,
 'Courthouse': 2,
 'Parking': 1,
 'Music Venue': 1}

In [37]:
surrounding_final.to_csv('surrounding_final.csv')

### prepping for clustering

In [24]:
surrounding_split = pd.read_csv('surrounding_final.csv')
surrounding_split = surrounding_split.drop('Unnamed: 0', axis = 1)
print(len(surrounding_split))
surrounding_split.head()

286

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name,Venue_Rating
0,4518 Arcade,5e23b504daee0b0008f60baa,Sugar+Spoon Cookie Dough,5,No Address,47.661790,-122.313146,4bf58dd8d48988d1c9941735,Ice Cream Shop,Not Rated
1,4518 Arcade,4b58fe5ff964a5205e7728e3,Deep Roots Tattoo & Body Piercing,5,4517 University Way NE,47.661806,-122.313184,4bf58dd8d48988d1de931735,Tattoo Parlor,7.7
2,4518 Arcade,4ef5323b77c8e9126478ff6f,U:DON Fresh Japanese Noodle Station,7,4515 University Way NE,47.661795,-122.313194,55a59bace4b013909087cb2a,Udon Restaurant,7.7
3,4518 Arcade,5d3cad7742d74c0008eb3ea9,DL B.B.Q.,13,4520 the ave,47.661947,-122.313203,4bf58dd8d48988d1df931735,BBQ Joint,Not Rated
4,4518 Arcade,5a5f9be231ac6c6dbfc68220,Just Burgers,16,4510 University Way NE,47.661861,-122.312910,4bf58dd8d48988d16c941735,Burger Joint,Not Rated

In [25]:
venue_clustering_df = pd.DataFrame(surrounding_split[['Venue_Distance', 'Category_ID', 'Category_Name', 'Venue_Rating']])
venue_clustering_df.head()

   Venue_Distance               Category_ID    Category_Name Venue_Rating
0               5  4bf58dd8d48988d1c9941735   Ice Cream Shop    Not Rated
1               5  4bf58dd8d48988d1de931735    Tattoo Parlor          7.7
2               7  55a59bace4b013909087cb2a  Udon Restaurant          7.7
3              13  4bf58dd8d48988d1df931735        BBQ Joint    Not Rated
4              16  4bf58dd8d48988d16c941735     Burger Joint    Not Rated

In [26]:
venue_clustering_df.to_csv('seattle_clustering_category.csv')

In [21]:
arcade_venue_df = pd.DataFrame(surrounding_split[['Arcade', 'Venue_ID', 'Venue_Name', 'Venue_Address']])
arcade_venue_df.insert(0, 'City', 'Null')
arcade_venue_df = arcade_venue_df.assign(City = 'Seattle, WA')
arcade_venue_df.head()

,City,Arcade,Venue_ID,Venue_Name,Venue_Address
0,"Seattle, WA",4518 Arcade,5e23b504daee0b0008f60baa,Sugar+Spoon Cookie Dough,No Address
1,"Seattle, WA",4518 Arcade,4b58fe5ff964a5205e7728e3,Deep Roots Tattoo & Body Piercing,4517 University Way NE
2,"Seattle, WA",4518 Arcade,4ef5323b77c8e9126478ff6f,U:DON Fresh Japanese Noodle Station,4515 University Way NE
3,"Seattle, WA",4518 Arcade,5d3cad7742d74c0008eb3ea9,DL B.B.Q.,4520 the ave
4,"Seattle, WA",4518 Arcade,5a5f9be231ac6c6dbfc68220,Just Burgers,4510 University Way NE

In [22]:
arcade_venue_df.to_csv('seattle_no_cluster_arcade_data.csv')