# Surrounding Venues for Each Arcade

__Skip to the Good Stuff__

[Importing Libraries](#Importing-Libraries)

[Loading Arcade DataFrame](#Loading-Arcade-DataFrame)

[Connecting to FourSquare](#Connecting-to-FourSquare)

[Making Surrounding Venues DataFrame](#Making-Surrounding-Venues-DataFrame)

[Dropping the Nulls](#Dropping-the-Nulls)

[Sorting by Arcade and Distance](#Sorting-by-Arcade-and-Distance)

[Ensuring Unique Venues](#Ensuring-Unique-Venues)

[Pulling the Ratings](#Pulling-the-Ratings)

### Importing Libraries

In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 

! pip install folium==0.5.0
import folium # plotting library

import json

pd.set_option('display.max_rows', None) #To view the full dataframe

print('Folium installed')
print('Libraries imported.')

Requirement already satisfied: geopy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geopy) (1.52)
Requirement already satisfied: folium==0.5.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.5.0)
Requirement already satisfied: branca in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (0.4.2)
Requirement already satisfied: jinja2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (3.0.1)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (2.25.1)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (1.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from jinja2->folium==0.5.0) (2.0.1)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (4.0.0)
Folium installed
Libraries imported.

### Loading Arcade DataFrame

In [2]:
ny_arcades = pd.read_csv('Arcade_final_clean.csv')
ny_arcades = ny_arcades.drop('Unnamed: 0', axis = 1)
print(len(ny_arcades))
ny_arcades

39

,Hood,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name,Venue_Rating
0,Clinton,3fd66200f964a5200ae91ee3,Frames Bowling Lounge,340,550 9th Ave,40.757187,-73.992965,4bf58dd8d48988d1e4931735,Bowling Alley,6.8
1,Murray Hill,42869100f964a52018231fe3,5th ave. arcade inc.,348,260 5th Ave,40.746602,-73.981801,4bf58dd8d48988d1e1931735,Arcade,Not Rated
2,Coney Island,49ebfb9df964a5204d671fe3,Eldorado Bumper Cars & Arcade,725,1216 Surf Ave,40.575221,-73.980188,4bf58dd8d48988d1e1931735,Arcade,8.3
3,Midtown South,4a326ac3f964a520499a1fe3,Kaufman Arcade,300,139 W 35th Street,40.751193,-73.989083,4bf58dd8d48988d130941735,Building,Not Rated
4,Upper East Side,4b996827f964a520377935e3,Central Park - The Arcade,902,Central Park,40.773860,-73.970952,4bf58dd8d48988d164941735,Plaza,8.8
5,Ocean Hill,4bf9ff045ec320a12d298bd3,Arcade Restaurant,362,No Address,40.681484,-73.911668,4bf58dd8d48988d130941735,Building,Not Rated
6,Coney Island,4c2e9b5b09a99c746c9c0a2a,Deno's Arcade,818,1025 Boardwalk W,40.573882,-73.979015,4bf58dd8d48988d1e1931735,Arcade,Not Rated
7,Prospect Heights,4c4a1cb69c8d2d7fb1be1069,At the arcade,369,No Address,40.678681,-73.968486,4bf58dd8d48988d1e1931735,Arcade,Not Rated
8,Central Harlem,4c649a46e0c4be9aca168658,Harlem Arcade,160,No Address,40.816290,-73.941351,4bf58dd8d48988d1e1931735,Arcade,Not Rated
9,Little Italy,4cbf45eb28d176b0b0ef226e,Moto Arcade,262,201 Mulberry St,40.721616,-73.996588,4bf58dd8d48988d11a941735,Other Nightlife,Not Rated
10,Little Italy,4cc0d53922ce4688bbe33947,MotoArcade!,255,No Address,40.721567,-73.996672,4bf58dd8d48988d1e1931735,Arcade,Not Rated
11,Ridgewood,4cca09529b934688142d4c41,Arcade Bookbinding Corp.,1370,801 Wyckoff Avenue,40.697202,-73.908394,4bf58dd8d48988d130941735,Building,Not Rated
12,Elmhurst,4d0c6d185c46a093ec8708b4,Flynn's Arcade,1241,No Address,40.732903,-73.882137,4bf58dd8d48988d18d941735,Gaming Cafe,Not Rated
13,Port Richmond,4d1a2452302da1cda77bcf93,Educole bowling and arcade,331,111 simonson pl,40.630774,-74.130347,4bf58dd8d48988d1ca941735,Pizza Place,Not Rated
14,Coney Island,4d5bea841da1cbff3a811a05,Mermaid Parade Ride,878,1000 Surf Ave,40.573571,-73.978337,5109983191d435c0d71c2bb1,Theme Park Ride / Attraction,6.7
15,Washington Heights,4d70445dcbc58cfad8686f72,Washington Heights Arcade and Bingo,423,1422 Saint Nicholas Ave,40.849365,-73.933151,4bf58dd8d48988d1f1931735,General Entertainment,Not Rated
16,Midtown South,4dc2a46b7d8b686fa4810d99,Greeley Arcade Building,145,132 W 31st St,40.747475,-73.989771,4bf58dd8d48988d124941735,Office,Not Rated
17,Midtown South,4ddc962e1f6e54b34d8e1b1e,Sahil's Arcade Of Good Times,328,No Address,40.749251,-73.992487,4bf58dd8d48988d1e7941735,Playground,Not Rated
18,Sutton Place,4de507e4ae60e7f3ac2c06ae,Arcade Creative Group (A Sony Music Company),857,550 Madison Ave,40.761380,-73.973616,4bf58dd8d48988d124941735,Office,Not Rated
19,Midtown South,4dff6831091ab6fff999ee39,Arcade Classics,448,244 5th Ave Ste B294,40.744632,-73.987287,4bf58dd8d48988d122951735,Electronics Store,Not Rated
20,Flatiron,4e11e25e81dcc5457256919a,Graha Arcade,301,53 W 23rd St,40.742380,-73.990860,4d954b06a243a5684965b473,Residential Building (Apartment / Condo),Not Rated
21,Manhattan Valley,4e3dae008877b00cfc4b0ceb,Arcade,556,No Address,40.792655,-73.966712,4bf58dd8d48988d1e1931735,Arcade,Not Rated
22,Ocean Hill,4e5ef27a22718258c4961ae0,Arcade Community,264,81 Rockaway Ave,40.680156,-73.910947,4bf58dd8d48988d130941735,Building,Not Rated
23,Brownsville,4f32cc9b19836c91c7fbf408,Young's Video Arcade Games and Internet Service,553,68 Belmont Ave,40.668578,-73.907824,4bf58dd8d48988d17f941735,Movie Theater,Not Rated
24,Sunset Park,4fc11a6fe4b0730dec0ef93e,I Fix Machine Arcade,1451,132 32nd St ste 114,40.657001,-74.003296,4bf58dd8d48988d1e1931735,Arcade,Not Rated
25,Coney Island,4fe49ec5e5e8d370efe5e8cd,Luna Arcade,841,1000 Surf Ave,40.574620,-73.978736,4bf58dd8d48988d1e1931735,Arcade,7.5
26,Chinatown,5053d510e4b0719d67706d96,Chinatown Fair Video Arcade,417,8 Mott St,40.713967,-73.998716,4bf58dd8d48988d1e1931735,Arcade,7.5
27,Travis,506205b1e4b02b8da3f9a55f,Showplace Arcade,883,141 West Shore Expressway,40.587281,-74.201106,4bf58dd8d48988d1e1931735,Arcade,Not Rated
28,Midwood,511ae724e4b0dd11cbae7258,Daniel Arcade,661,No Address,40.624687,-73.965332,4bf58dd8d48988d1e1931735,Arcade,Not Rated
29,Ocean Hill,51996cf8498eae1965b45236,Arcade Lounge,1215,No Address,40.689222,-73.911173,4bf58dd8d48988d121941735,Lounge,Not Rated
30,Midtown South,54109be5498e36dd35fd2e90,arcade edit,263,130 W 29th St,40.747176,-73.991293,4bf58dd8d48988d124941735,Office,Not Rated
31,Bath Beach,54d793c2498eae7f4aae9aa8,Arcade Roofing & Home Improvement,258,No Address,40.601295,-73.996782,4bf58dd8d48988d130941735,Building,Not Rated
32,Flatiron,5553d902498eee430b990c01,Arcade Edit NY,500,220 5th Ave Fl 12,40.743638,-73.988139,4bf58dd8d48988d124941735,Office,Not Rated
33,Downtown,55d8afc3498e2156fb75de6f,EOS Arcade,445,66 Rockwell Pl Fl 4,40.688180,-73.979518,4bf58dd8d48988d1e1931735,Arcade,Not Rated
34,Washington Heights,5ac83d3b0f013c3cc9135100,Arcade Pizza,720,1611 Saint Nicholas Ave,40.855221,-73.929559,4bf58dd8d48988d1ca941735,Pizza Place,Not Rated
35,Financial District,5c0b2bec89b06a002ccbbb7f,2 Water Street - Arcade,510,2 Water St,40.702797,-74.012749,4bf58dd8d48988d1e1931735,Arcade,Not Rated
36,Midtown South,5c9598aca795bd002cc9b843,New York Arcade Rentals,378,121 W 36th St,40.751863,-73.987957,5454152e498ef71e2b9132c6,Event Service,Not Rated
37,Hollis,5d4820e85bc77800088487ea,Games & Arcades,910,207-14 Hollis Ave,40.707478,-73.749670,4bf58dd8d48988d1e1931735,Arcade,Not Rated
38,Sunset Park,60ce1f287f4109105ca92fac,Brooklyn Games & Arcade,977,6120,40.639884,-74.019625,4bf58dd8d48988d10b951735,Video Game Store,Not Rated

### Connecting to FourSquare

In [3]:
CLIENT_ID = '4TJ1SLTDO1KADL553GXCDXOJXZONZYTBIRQMVBQ32JYAU3EA' # your Foursquare ID
CLIENT_SECRET = 'TC1N45PW5LSGVLIZ02DDPA2JOMWB2I3BA33OPX55VW2LBKBF' # your Foursquare Secret
ACCESS_TOKEN = 'NS3WWURVAWWAGWSTUXQDQCS0150IPNQIYNHVE5JM1OSX2CAV' # your FourSquare Access Token

In [4]:
VERSION = '20180604'
LIMIT = 20

### Making Surrounding Venues DataFrame

In [5]:
#assign variables for the search
search_query = ''
radius = 50
print(search_query + ' .... OK!')

 .... OK!

In [6]:
surrounding_venues = pd.DataFrame(columns = ['Arcade','Venue_ID','Venue_Name','Venue_Distance','Venue_Address','Venue_Latitude','Venue_Longitude','Category_ID','Category_Name'])
surrounding_venues

Empty DataFrame
Columns: [Arcade, Venue_ID, Venue_Name, Venue_Distance, Venue_Address, Venue_Latitude, Venue_Longitude, Category_ID, Category_Name]
Index: []

In [7]:
for index, arcade in enumerate(ny_arcades['Venue_ID']):
    try:
        arcade_name = ny_arcades['Venue_Name'][index]
        latitude = ny_arcades['Venue_Latitude'][index]
        longitude = ny_arcades['Venue_Longitude'][index]
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, search_query, radius, LIMIT)
        results = requests.get(url).json()
    except:
        continue
    try:
        res = results['response']['venues']
    except:
        continue
    for dictionary in results['response']['venues']:
        try:
            ident= dictionary['id']
        except:
            ident= 'No ID'
        try:
            name = dictionary['name']
        except:
            name = 'No Name'
        try:
            ven_add = dictionary['location']['address']
        except:
            ven_add = 'No Address'
        try:
            ven_lat = dictionary['location']['lat']
        except:
            ven_lat = 'No Latitude'
        try:
            ven_lng = dictionary['location']['lng']
        except:
            ven_lng = 'No Longitude'
        try:
            ven_dist = dictionary['location']['distance']
        except:
            ven_dist = 'No Distance'
        try:
            for cat in dictionary['categories']:
                try:
                    cat_id= cat['id']
                except:
                    cat_id= 'No ID'
                try:
                    cat_name = cat['name']
                except:
                    cat_name = 'No Name'
        except:
            continue
        try:
            surrounding_venues = surrounding_venues.append({'Venue_Distance':ven_dist,'Arcade':arcade_name, 'Venue_ID':ident, 'Venue_Name':name,'Venue_Address':ven_add,'Venue_Latitude':ven_lat,'Venue_Longitude':ven_lng,'Category_ID':cat_id,'Category_Name':cat_name}, ignore_index=True)
        except:
            surrounding_venues = surrounding_venues.append({'Arcade': 'Null'}, ignore_index=True)

In [8]:
print(len(surrounding_venues))
surrounding_venues.head()

780

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
0,Frames Bowling Lounge,4e6fd25ed164f60bba71d535,Gate 224,37,South Terminal,40.757469,-73.992721,4bf58dd8d48988d1fe931735,Bus Station
1,Frames Bowling Lounge,4840fe6bf964a52030501fe3,Port Authority Bus Terminal,166,625 8th Ave,40.757083,-73.991000,4bf58dd8d48988d1fe931735,Bus Station
2,Frames Bowling Lounge,3fd66200f964a5200ae91ee3,Frames Bowling Lounge,0,550 9th Ave,40.757187,-73.992965,4bf58dd8d48988d1e4931735,Bowling Alley
3,Frames Bowling Lounge,58a09cb6b7920746eb8539b1,DoubleTree by Hilton,58,350 W 40th St,40.756663,-73.993015,4bf58dd8d48988d1fa931735,Hotel
4,Frames Bowling Lounge,49b7ed6df964a52030531fe3,Times Square,609,Broadway & 7th Ave,40.758270,-73.985875,4bf58dd8d48988d164941735,Plaza

In [9]:
surrounding_venues.to_csv('surrounding_raw.csv')

### Dropping the Nulls

In [10]:
surrounding_venues = pd.read_csv('surrounding_raw.csv')
surrounding_venues = surrounding_venues.drop('Unnamed: 0', axis= 1)
print(len(surrounding_venues))
surrounding_venues.head()

780

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
0,Frames Bowling Lounge,4e6fd25ed164f60bba71d535,Gate 224,37,South Terminal,40.757469,-73.992721,4bf58dd8d48988d1fe931735,Bus Station
1,Frames Bowling Lounge,4840fe6bf964a52030501fe3,Port Authority Bus Terminal,166,625 8th Ave,40.757083,-73.991000,4bf58dd8d48988d1fe931735,Bus Station
2,Frames Bowling Lounge,3fd66200f964a5200ae91ee3,Frames Bowling Lounge,0,550 9th Ave,40.757187,-73.992965,4bf58dd8d48988d1e4931735,Bowling Alley
3,Frames Bowling Lounge,58a09cb6b7920746eb8539b1,DoubleTree by Hilton,58,350 W 40th St,40.756663,-73.993015,4bf58dd8d48988d1fa931735,Hotel
4,Frames Bowling Lounge,49b7ed6df964a52030531fe3,Times Square,609,Broadway & 7th Ave,40.758270,-73.985875,4bf58dd8d48988d164941735,Plaza

In [11]:
surrounding_venues = surrounding_venues[surrounding_venues != 'Null']
surrounding_venues = surrounding_venues[surrounding_venues != '[]']
surrounding_venues = surrounding_venues.dropna()
print(len(surrounding_venues))
surrounding_venues = surrounding_venues.reset_index()
surrounding_venues = surrounding_venues.drop(['index'], axis = 1)
surrounding_venues.head(20)

780

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
0,Frames Bowling Lounge,4e6fd25ed164f60bba71d535,Gate 224,37,South Terminal,40.757469,-73.992721,4bf58dd8d48988d1fe931735,Bus Station
1,Frames Bowling Lounge,4840fe6bf964a52030501fe3,Port Authority Bus Terminal,166,625 8th Ave,40.757083,-73.991000,4bf58dd8d48988d1fe931735,Bus Station
2,Frames Bowling Lounge,3fd66200f964a5200ae91ee3,Frames Bowling Lounge,0,550 9th Ave,40.757187,-73.992965,4bf58dd8d48988d1e4931735,Bowling Alley
3,Frames Bowling Lounge,58a09cb6b7920746eb8539b1,DoubleTree by Hilton,58,350 W 40th St,40.756663,-73.993015,4bf58dd8d48988d1fa931735,Hotel
4,Frames Bowling Lounge,49b7ed6df964a52030531fe3,Times Square,609,Broadway & 7th Ave,40.758270,-73.985875,4bf58dd8d48988d164941735,Plaza
5,Frames Bowling Lounge,4aa06479f964a520753f20e3,2 Bros. Pizza,51,542 9th Ave,40.757081,-73.993554,4bf58dd8d48988d1ca941735,Pizza Place
6,Frames Bowling Lounge,515ebd74e4b0a9e5c3875492,"C&J Bus To Portsmouth, NH",8,No Address,40.757248,-73.992906,4f2a23984b9023bd5841ed2c,Moving Target
7,Frames Bowling Lounge,4d532b366bc337045a0affd2,Gate 2,100,South Terminal,40.756861,-73.991854,4bf58dd8d48988d1fe931735,Bus Station
8,Frames Bowling Lounge,4c60a550b6f3be9aa8f15f73,Book Corner,17,Port Authority Bus Terminal,40.757281,-73.993135,4bf58dd8d48988d114951735,Bookstore
9,Frames Bowling Lounge,5e0e1bdc6f11b900082504c7,Gate 421,6,No Address,40.757154,-73.992895,4bf58dd8d48988d12b951735,Bus Line
10,Frames Bowling Lounge,4e53e4d718a8c0ad8f74bdfc,NYC Baby,146,No Address,40.756740,-73.994593,4d4b7105d754a06379d81259,Travel & Transport
11,Frames Bowling Lounge,4d41a4bbde17a093901d036c,Gate 223,37,Port Authority Bus Terminal,40.757454,-73.992693,4bf58dd8d48988d1fe931735,Bus Station
12,Frames Bowling Lounge,4c7d8de6d598a093a54dc362,Gate 232,34,South Terminal,40.757492,-73.993017,4bf58dd8d48988d1fe931735,Bus Station
13,Frames Bowling Lounge,4c6b07cee503c928512a47b3,Library Walk,24,41st streer,40.757383,-73.992837,4bf58dd8d48988d162941735,Other Great Outdoors
14,Frames Bowling Lounge,59cfbc54c365882163746baa,Double Tree Gym,62,No Address,40.756630,-73.993080,4bf58dd8d48988d176941735,Gym
15,Frames Bowling Lounge,4dcaee2c1838cc2cc641456f,Pedro Tatas . Jose's Cousin,28,No Address,40.757433,-73.992884,4bf58dd8d48988d1c1941735,Mexican Restaurant
16,Frames Bowling Lounge,4bd26cbe046076b09e1a7471,Gate 167,46,Port Authority Bus Terminal,40.757372,-73.992475,4bf58dd8d48988d1fe931735,Bus Station
17,Frames Bowling Lounge,59b2a2f735811b271f1aa589,Craven,47,346 W 40th St,40.756761,-73.992925,4bf58dd8d48988d116941735,Bar
18,Frames Bowling Lounge,4b9a738ff964a52079b635e3,Pine Hill Bus,10,No Address,40.757276,-73.992986,4bf58dd8d48988d1fe931735,Bus Station
19,Frames Bowling Lounge,4c8146b4d4e2370453405c88,Gate 234,67,South Terminal,40.757005,-73.992198,4bf58dd8d48988d1fe931735,Bus Station

In [12]:
count = -1
distance_drop_list = list()
for dist in surrounding_venues['Venue_Distance']:
    count = count + 1
    if dist == 0:
        distance_drop_list.append(count)
print(len(distance_drop_list))

25

In [13]:
surrounding_venues = surrounding_venues.drop(index = distance_drop_list)
print(len(surrounding_venues))
surrounding_venues.head()

755

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
0,Frames Bowling Lounge,4e6fd25ed164f60bba71d535,Gate 224,37,South Terminal,40.757469,-73.992721,4bf58dd8d48988d1fe931735,Bus Station
1,Frames Bowling Lounge,4840fe6bf964a52030501fe3,Port Authority Bus Terminal,166,625 8th Ave,40.757083,-73.991000,4bf58dd8d48988d1fe931735,Bus Station
3,Frames Bowling Lounge,58a09cb6b7920746eb8539b1,DoubleTree by Hilton,58,350 W 40th St,40.756663,-73.993015,4bf58dd8d48988d1fa931735,Hotel
4,Frames Bowling Lounge,49b7ed6df964a52030531fe3,Times Square,609,Broadway & 7th Ave,40.758270,-73.985875,4bf58dd8d48988d164941735,Plaza
5,Frames Bowling Lounge,4aa06479f964a520753f20e3,2 Bros. Pizza,51,542 9th Ave,40.757081,-73.993554,4bf58dd8d48988d1ca941735,Pizza Place

### Sorting by Arcade and Venue Distance

In [14]:
surrounding_venues = surrounding_venues.sort_values(['Arcade', 'Venue_Distance'],ascending = True)
surrounding_venues.head(10)

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
718,2 Water Street - Arcade,4dd18693ae60fb3f53acb7a7,NYC HHC Office,3,33 Whitehall St,40.702799,-74.012789,4bf58dd8d48988d124941735,Office
711,2 Water Street - Arcade,59b1aae02e26805019543ab8,Continental Stock Transfer & Trust,7,1 State St,40.702855,-74.012716,4bf58dd8d48988d124941735,Office
710,2 Water Street - Arcade,5c50c0c13731ee002c8cbb6e,Pool @ Whitehall Nyhrc,11,No Address,40.702695,-74.012737,4bf58dd8d48988d105941735,Gym Pool
705,2 Water Street - Arcade,4acd4277f964a52099cb20e3,New York Health & Racquet Club,15,39 Whitehall St,40.702933,-74.012749,4bf58dd8d48988d176941735,Gym
713,2 Water Street - Arcade,610422c76e509940e45d9cc8,El Omal,24,Water St,40.702625,-74.012935,4bf58dd8d48988d151941735,Taco Place
704,2 Water Street - Arcade,4be2c7d1f07b0f47aa27f643,The Juice Truck,26,Whitehall St,40.702581,-74.012887,4bf58dd8d48988d112941735,Juice Bar
703,2 Water Street - Arcade,4b81712ff964a52041a630e3,2 Water Street,27,2 Water St,40.703008,-74.012910,4bf58dd8d48988d130941735,Building
719,2 Water Street - Arcade,5dc95e1e61f86c000845f774,Citibike Station,27,Water - Whitehall Plaza,40.702550,-74.012726,4e4c9077bd41f78e849722f9,Bike Rental / Bike Share
717,2 Water Street - Arcade,523706fa11d25eb29ab14c95,Sterling Infosystems,33,1 State St,40.702628,-74.013082,4bf58dd8d48988d124941735,Office
708,2 Water Street - Arcade,4ae707bef964a52007a821e3,SourceMedia,67,1 State St,40.703094,-74.013449,4bf58dd8d48988d124941735,Office

In [15]:
surrounding_venues.to_csv('surrounding_venues_sorted.csv')

### Ensuring Unique Venues

In [16]:
surrounding_sorted = pd.read_csv('surrounding_venues_sorted.csv')
surrounding_sorted = surrounding_sorted.drop('Unnamed: 0', axis= 1)
print(len(surrounding_sorted))
surrounding_sorted.head(20)

755

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name
0,2 Water Street - Arcade,4dd18693ae60fb3f53acb7a7,NYC HHC Office,3,33 Whitehall St,40.702799,-74.012789,4bf58dd8d48988d124941735,Office
1,2 Water Street - Arcade,59b1aae02e26805019543ab8,Continental Stock Transfer & Trust,7,1 State St,40.702855,-74.012716,4bf58dd8d48988d124941735,Office
2,2 Water Street - Arcade,5c50c0c13731ee002c8cbb6e,Pool @ Whitehall Nyhrc,11,No Address,40.702695,-74.012737,4bf58dd8d48988d105941735,Gym Pool
3,2 Water Street - Arcade,4acd4277f964a52099cb20e3,New York Health & Racquet Club,15,39 Whitehall St,40.702933,-74.012749,4bf58dd8d48988d176941735,Gym
4,2 Water Street - Arcade,610422c76e509940e45d9cc8,El Omal,24,Water St,40.702625,-74.012935,4bf58dd8d48988d151941735,Taco Place
5,2 Water Street - Arcade,4be2c7d1f07b0f47aa27f643,The Juice Truck,26,Whitehall St,40.702581,-74.012887,4bf58dd8d48988d112941735,Juice Bar
6,2 Water Street - Arcade,4b81712ff964a52041a630e3,2 Water Street,27,2 Water St,40.703008,-74.012910,4bf58dd8d48988d130941735,Building
7,2 Water Street - Arcade,5dc95e1e61f86c000845f774,Citibike Station,27,Water - Whitehall Plaza,40.702550,-74.012726,4e4c9077bd41f78e849722f9,Bike Rental / Bike Share
8,2 Water Street - Arcade,523706fa11d25eb29ab14c95,Sterling Infosystems,33,1 State St,40.702628,-74.013082,4bf58dd8d48988d124941735,Office
9,2 Water Street - Arcade,4ae707bef964a52007a821e3,SourceMedia,67,1 State St,40.703094,-74.013449,4bf58dd8d48988d124941735,Office
10,2 Water Street - Arcade,4cd1cafcfd42199cd1a2c56e,Davis Brody Bond,70,1 New York Plz,40.702316,-74.012203,4bf58dd8d48988d124941735,Office
11,2 Water Street - Arcade,4b3a50c6f964a520796425e3,One New York Plaza,88,1 New York Plz,40.702232,-74.012017,4bf58dd8d48988d130941735,Building
12,2 Water Street - Arcade,4b466b09f964a520452026e3,MTA Subway - South Ferry (1),98,South Ferry,40.701929,-74.012961,4bf58dd8d48988d1fd931735,Metro Station
13,2 Water Street - Arcade,4c114a38d917c9280379b562,1 State Street,111,1 State St,40.702514,-74.014020,4bf58dd8d48988d124941735,Office
14,2 Water Street - Arcade,4eb941579a52ad1e408b608c,South Street,112,No Address,40.702135,-74.011745,4bf58dd8d48988d1df941735,Bridge
15,2 Water Street - Arcade,4b435e5ef964a52009df25e3,MTA Subway - Whitehall St (R/W),115,Whitehall St,40.701773,-74.012943,4bf58dd8d48988d1fd931735,Metro Station
16,2 Water Street - Arcade,4da2fe95c6e96ea8a3a9df5d,Urban Farm at Battery Park,171,Battery Park,40.703254,-74.014689,4bf58dd8d48988d15b941735,Farm
17,2 Water Street - Arcade,42daf100f964a52035261fe3,Battery Park,261,Battery Pl,40.703217,-74.015795,4bf58dd8d48988d163941735,Park
18,5th ave. arcade inc.,4b364e18f964a520893225e3,Boom Fitness,2,4 Park Ave,40.746583,-73.981796,4bf58dd8d48988d176941735,Gym
19,5th ave. arcade inc.,4c53005e048b1b8d54fb5331,Vizeum,6,No Address,40.746622,-73.981731,4bf58dd8d48988d124941735,Office

### Pulling the Ratings

In [17]:
count = -1
rating_list = list()
for ident in surrounding_sorted['Venue_ID']:
    count = count +1
    venue_id = surrounding_sorted['Venue_ID'][count]
    url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&oauth_token={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET,ACCESS_TOKEN, VERSION)
    result = requests.get(url).json()
    try:
        rating = result['response']['venue']['rating']
    except:
        rating = 'Not Rated'
    rating_list.append(rating)
rating_list

['Not Rated',
 'Not Rated',
 'Not Rated',
 7.6,
 'Not Rated',
 6.9,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 7.8,
 9.2,
 7.2,
 'Not Rated',
 8.8,
 5.0,
 'Not Rated',
 8.6,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 7.4,
 8.8,
 5.7,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 7.9,
 8.5,
 6.4,
 7.7,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 6.2,
 'Not Rated',
 'Not Rated',
 8.8,
 'Not Rated',
 7.0,
 7.7,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 8.5,
 'Not Rated',
 7.2,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 7.7,
 'Not Rated',
 5.8,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 6.9,
 'Not Rated',
 'Not Rated',
 7.4,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 6.4,
 'Not Rated',
 7.4,
 'Not Rated',
 9.4,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 8.1,
 'Not Rated',
 'Not Rated',
 8.1,
 'Not Rated',
 8.4,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 5.7,
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated',
 'Not Rated']

In [18]:
surrounding_final = surrounding_sorted.assign(Venue_Rating= rating_list)
print(len(surrounding_final))
surrounding_final.head()

755

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name,Venue_Rating
0,2 Water Street - Arcade,4dd18693ae60fb3f53acb7a7,NYC HHC Office,3,33 Whitehall St,40.702799,-74.012789,4bf58dd8d48988d124941735,Office,Not Rated
1,2 Water Street - Arcade,59b1aae02e26805019543ab8,Continental Stock Transfer & Trust,7,1 State St,40.702855,-74.012716,4bf58dd8d48988d124941735,Office,Not Rated
2,2 Water Street - Arcade,5c50c0c13731ee002c8cbb6e,Pool @ Whitehall Nyhrc,11,No Address,40.702695,-74.012737,4bf58dd8d48988d105941735,Gym Pool,Not Rated
3,2 Water Street - Arcade,4acd4277f964a52099cb20e3,New York Health & Racquet Club,15,39 Whitehall St,40.702933,-74.012749,4bf58dd8d48988d176941735,Gym,7.6
4,2 Water Street - Arcade,610422c76e509940e45d9cc8,El Omal,24,Water St,40.702625,-74.012935,4bf58dd8d48988d151941735,Taco Place,Not Rated

In [19]:
counts = dict()
for category in surrounding_final['Category_Name']:
    counts[category]= counts.get(category, 0) + 1

In [20]:
counts

{'Office': 54,
 'Gym Pool': 1,
 'Gym': 8,
 'Taco Place': 3,
 'Juice Bar': 6,
 'Building': 19,
 'Bike Rental / Bike Share': 4,
 'Metro Station': 12,
 'Bridge': 4,
 'Farm': 2,
 'Park': 9,
 'Steakhouse': 3,
 'Bank': 5,
 'Residential Building (Apartment / Condo)': 12,
 'Financial or Legal Service': 2,
 'Child Care Service': 1,
 'High School': 5,
 'Salon / Barbershop': 18,
 'Train Station': 4,
 'Scenic Lookout': 4,
 "Doctor's Office": 6,
 'Dog Run': 2,
 'Grocery Store': 7,
 'Coffee Shop': 15,
 'Pharmacy': 5,
 'Wine Shop': 1,
 'Parking': 1,
 'Bus Stop': 7,
 'Donut Shop': 8,
 'Food Truck': 2,
 'Department Store': 4,
 'Chinese Restaurant': 14,
 'Shipping Store': 3,
 'Deli / Bodega': 12,
 'Garden Center': 1,
 'Mexican Restaurant': 5,
 'Vegetarian / Vegan Restaurant': 2,
 'Supermarket': 3,
 'Yoga Studio': 4,
 'Art Gallery': 7,
 'Bakery': 8,
 'Restaurant': 3,
 'Vietnamese Restaurant': 3,
 'Bar': 11,
 'Business Service': 1,
 'Caf': 3,
 'Hardware Store': 4,
 'Tech Startup': 13,
 'Smoke Shop': 1,
 'Medical Center': 2,
 'Miscellaneous Shop': 7,
 'Health & Beauty Service': 3,
 'Erotic Museum': 1,
 'Martial Arts School': 2,
 'Nail Salon': 3,
 'Elementary School': 5,
 'Caribbean Restaurant': 6,
 'Garden': 3,
 'College Administrative Building': 2,
 'Cocktail Bar': 4,
 'Bus Line': 6,
 'Fried Chicken Joint': 2,
 'Falafel Restaurant': 4,
 'Event Space': 11,
 'Plaza': 4,
 'Pizza Place': 18,
 'Coworking Space': 10,
 'Boutique': 4,
 'Hotel': 7,
 'Lingerie Store': 2,
 'Massage Studio': 2,
 'Public Art': 1,
 'Convenience Store': 3,
 'Spa': 2,
 'Playground': 2,
 'Laundromat': 3,
 'General Entertainment': 4,
 'Liquor Store': 7,
 'Fire Station': 2,
 'Tattoo Parlor': 2,
 'Seafood Restaurant': 5,
 'Bus Station': 14,
 'Arcade': 5,
 'Other Great Outdoors': 11,
 'Cosmetics Shop': 4,
 'Latin American Restaurant': 1,
 'Laundry Service': 7,
 'General College & University': 3,
 'Physical Therapist': 1,
 'Organic Grocery': 1,
 'Cantonese Restaurant': 1,
 'Bubble Tea Shop': 3,
 'Fast Food Restaurant': 2,
 'Ice Cream Shop': 4,
 'Southern / Soul Food Restaurant': 1,
 'Antique Shop': 2,
 'Music Venue': 3,
 'Jewelry Store': 1,
 'Used Bookstore': 1,
 'Gourmet Shop': 1,
 'Church': 8,
 'Bagel Shop': 1,
 'Pedestrian Plaza': 1,
 'Market': 1,
 'Automotive Shop': 1,
 'Farmers Market': 1,
 'Nightclub': 1,
 'Dive Bar': 1,
 'Public Bathroom': 1,
 'Fountain': 1,
 'Outdoor Sculpture': 1,
 'Performing Arts Venue': 1,
 'Field': 1,
 'Lake': 1,
 'Dessert Shop': 1,
 "Dentist's Office": 2,
 'Creperie': 3,
 'Malay Restaurant': 1,
 'Noodle House': 1,
 'Gift Shop': 3,
 'Toy / Game Store': 1,
 'Snack Place': 3,
 'Fruit & Vegetable Store': 1,
 'Flea Market': 2,
 'Wings Joint': 2,
 'Bridal Shop': 1,
 'College Baseball Diamond': 1,
 'Video Store': 1,
 'Multiplex': 1,
 'Golf Course': 1,
 'Electronics Store': 4,
 'Mobile Phone Shop': 2,
 'Kosher Restaurant': 1,
 'Spiritual Center': 1,
 'Theme Park': 22,
 'Theme Park Ride / Attraction': 27,
 'Beach': 3,
 'Lounge': 4,
 'Library': 1,
 'Arts & Crafts Store': 2,
 'Gastropub': 1,
 'Gym / Fitness Center': 4,
 'College Lab': 1,
 'American Restaurant': 5,
 'Tanning Salon': 1,
 'Gas Station': 5,
 'Italian Restaurant': 1,
 'Museum': 1,
 'School': 1,
 'Filipino Restaurant': 1,
 'Moving Target': 1,
 'Bookstore': 1,
 'Travel & Transport': 1,
 'Student Center': 1,
 'Hospital': 1,
 'College Library': 1,
 'Indian Restaurant': 1,
 'Mental Health Office': 1,
 'Furniture / Home Store': 2,
 'Candy Store': 1,
 'Discount Store': 3,
 'Mountain': 5,
 'Harbor / Marina': 1,
 'Surf Spot': 1,
 'Breakfast Spot': 1,
 'Design Studio': 3,
 'Wine Bar': 2,
 'Video Game Store': 1,
 'Sandwich Place': 1,
 'Shopping Mall': 1,
 'Tailor Shop': 2,
 "Men's Store": 3,
 'Salad Place': 1,
 'Clothing Store': 4,
 'Hot Dog Joint': 2,
 'Historic Site': 3,
 'Food Stand': 1,
 'Shoe Store': 2,
 'General Travel': 2,
 'Record Shop': 2,
 'Shop & Service': 3,
 'Photography Studio': 1,
 'Tunnel': 1,
 'Arepa Restaurant': 1,
 'Szechuan Restaurant': 1,
 'Burger Joint': 1,
 'Fishing Store': 1,
 'Conference Room': 1,
 'Platform': 1,
 'Sports Bar': 1,
 'Athletics & Sports': 1,
 'Basketball Stadium': 1,
 'Recycling Facility': 1,
 'Professional & Other Places': 1,
 'Cemetery': 1,
 'Butcher': 1,
 'Government Building': 2,
 'Factory': 1,
 "Women's Store": 2,
 'Rest Area': 1,
 'Kids Store': 1,
 'Big Box Store': 1,
 'Cooking School': 1,
 'Housing Development': 2,
 'Trade School': 1,
 'Hotel Bar': 1,
 'Recording Studio': 1}

In [21]:
surrounding_final.to_csv('surrounding_final.csv')

### Prepping for Clustering

In [22]:
surrounding_split = pd.read_csv('surrounding_final.csv')
surrounding_split = surrounding_split.drop('Unnamed: 0', axis = 1)
print(len(surrounding_split))
surrounding_split.head()

755

,Arcade,Venue_ID,Venue_Name,Venue_Distance,Venue_Address,Venue_Latitude,Venue_Longitude,Category_ID,Category_Name,Venue_Rating
0,2 Water Street - Arcade,4dd18693ae60fb3f53acb7a7,NYC HHC Office,3,33 Whitehall St,40.702799,-74.012789,4bf58dd8d48988d124941735,Office,Not Rated
1,2 Water Street - Arcade,59b1aae02e26805019543ab8,Continental Stock Transfer & Trust,7,1 State St,40.702855,-74.012716,4bf58dd8d48988d124941735,Office,Not Rated
2,2 Water Street - Arcade,5c50c0c13731ee002c8cbb6e,Pool @ Whitehall Nyhrc,11,No Address,40.702695,-74.012737,4bf58dd8d48988d105941735,Gym Pool,Not Rated
3,2 Water Street - Arcade,4acd4277f964a52099cb20e3,New York Health & Racquet Club,15,39 Whitehall St,40.702933,-74.012749,4bf58dd8d48988d176941735,Gym,7.6
4,2 Water Street - Arcade,610422c76e509940e45d9cc8,El Omal,24,Water St,40.702625,-74.012935,4bf58dd8d48988d151941735,Taco Place,Not Rated

In [23]:
venue_clustering_df = pd.DataFrame(surrounding_split[['Venue_Distance', 'Category_ID', 'Category_Name', 'Venue_Rating']])
venue_clustering_df.head()

   Venue_Distance               Category_ID Category_Name Venue_Rating
0               3  4bf58dd8d48988d124941735        Office    Not Rated
1               7  4bf58dd8d48988d124941735        Office    Not Rated
2              11  4bf58dd8d48988d105941735      Gym Pool    Not Rated
3              15  4bf58dd8d48988d176941735           Gym          7.6
4              24  4bf58dd8d48988d151941735    Taco Place    Not Rated

In [25]:
venue_clustering_df.to_csv('newyork_clustering_category.csv')

In [26]:
arcade_venue_df = pd.DataFrame(surrounding_split[['Arcade', 'Venue_ID', 'Venue_Name', 'Venue_Address']])
arcade_venue_df.insert(0, 'City', 'Null')
arcade_venue_df = arcade_venue_df.assign(City = 'Atlanta, GA')
arcade_venue_df.head()

,City,Arcade,Venue_ID,Venue_Name,Venue_Address
0,"Atlanta, GA",2 Water Street - Arcade,4dd18693ae60fb3f53acb7a7,NYC HHC Office,33 Whitehall St
1,"Atlanta, GA",2 Water Street - Arcade,59b1aae02e26805019543ab8,Continental Stock Transfer & Trust,1 State St
2,"Atlanta, GA",2 Water Street - Arcade,5c50c0c13731ee002c8cbb6e,Pool @ Whitehall Nyhrc,No Address
3,"Atlanta, GA",2 Water Street - Arcade,4acd4277f964a52099cb20e3,New York Health & Racquet Club,39 Whitehall St
4,"Atlanta, GA",2 Water Street - Arcade,610422c76e509940e45d9cc8,El Omal,Water St

In [27]:
arcade_venue_df.to_csv('newyork_no_cluster_arcade_data.csv')